//Texto principal
$primaryText:#6D6D6D;
//Colores Principales
$primaryColor:#967FB9;
$secondaryColor:#E9C598;

//Background
$degMor: linear-gradient(99.34deg, #92A9D8 0%, #B9AAD1 100%);
$degNar: linear-gradient(180deg, #E9C598 0%, rgba(233, 197, 152, 0) 100%);


