@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@100;200;300;400;500;700;800&display=swap%27');

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin titulo(){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3em;
    background: -webkit-linear-gradient(180deg,#E8C597, #9C9DBF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.9em;
}

@mixin button(){
     margin:.6em;
    border:none;
    color: $primaryText;
    width: 0%;
    background: $degMor;    
    transition: ease 0.6s;
    padding-top: .3em;
    padding-bottom: .3em;
}
@mixin button_hover(){
    color:white;
    font-weight: 500;
    background: $degMor;    
    width: 80%;
}