@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@100;200;300;400;500;700;800&display=swap%27');

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin titulo(){
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5em;
        line-height: 3em;
        background: linear-gradient(270.11deg, #9C9DBF 58.67%, #E8C597 99.94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}

