<!-- <p>formulario-registro works!</p> -->
<div class="container">

    <div class="titulo">
        <h2>My Shoulder</h2>
    </div>
    <div class="form">
        <div class="camposIzq">
                <div >
                  <label for="exampleInputEmail1" class="form-label">USUARIO*</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div >
                  <label for="exampleInputPassword1" class="form-label">CONTRASEÑA*</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div >
                    <label for="exampleInputPassword1" class="form-label">Repetir contraseña*</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Correo*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
        </div>
        <div class="camposDrch">
                <div>
                  <label for="exampleInputEmail1" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" >
                </div>
                <div>
                  <label for="exampleInputPassword1" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" >
                </div>
        </div>
    </div>

    <div class="checks">
      <label class="form-check-label" for="flexCheckDefault">
        Perfil:
      </label>
     <div >
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Profesional*
        </label>
      </div>
      <div >
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Paciente*
        </label>
      </div>
      <div >
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Familiar/Tutor legal*
        </label>
      </div>
    </div>


   <div class="abajo">
      <div class="imagen">
        <img class="imagen" src="../../../assets/img/undraw_sharing_knowledge_03vp 1.png">
      </div>
      <div class="boton">
        <button id="botonn" type="button" class="btn btn-primary">Registro</button>
      </div>
      <div class="texto">
        <p>*Profesional: Cuenta dedicada para profesionales certificados (Psicologos).</p>
        <p>*Paciente: Cuenta basica de paciente, con acceso a eventos para pacientes y busqueda de profesionales</p>
        <p>*Familiar/Tutor legal: Cuenta de paciente con opciones de acceso y creacion de eventos relacionados con otros familiares, además de la opcion de hacer de tutor legal de pacientes dependientes los cuales no pueden auto-gestionarse</p>
      </div>

   </div>


</div>
