<app-header-pac></app-header-pac>

<div class="contenedor">
  <div class="bloqueForm">
    <div class="titulo">
      <h2>My Shoulder</h2>
    </div>
    <div class="form">
      <div class="camposIzq">
        <div>

          <p for="exampleInputEmail1" class="form-label">Usuario*</p>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div>
          <p for="exampleInputPassword1" class="form-label">Contraseña*</p>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div>
          <p for="exampleInputPassword1" class="form-label">Repite contraseña*</p>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div>
          <p for="exampleInputEmail1" class="form-label">Correo*</p>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="camposDrch">
        <div>
          <p for="exampleInputEmail1" class="form-label">Nombre</p>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div>
          <p for="exampleInputPassword1" class="form-label">Apellido</p>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div>
          <p for="exampleInputPassword1" class="form-label">Telefono</p>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div>
          <p for="exampleInputEmail1" class="form-label">Ciudad</p>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
      </div>

    </div>
    <div class="bloqueChecks">
      <div class="checks">
        <h6 class="form-check-label" for="flexCheckDefault">
          Perfil:
        </h6>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Profesional*
          </label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Paciente*
          </label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Familiar/Tutor legal*
          </label>
        </div>
      </div>
    </div>
    </div>
    <div class="abajo">

      <div class="bloqueImagen">
        <img class="imagen" src="../../../assets/img/undraw_sharing_knowledge_03vp 1.png">
      </div>
      <div class="boton">
        <button id="botonn" type="button" class="btn btn-primary">Registro</button>
      </div>
      <div class="texto">
        <p>*Profesional: Cuenta dedicada para profesionales certificados (Psicologos).<br>
          *Paciente: Cuenta basica de paciente, con acceso a eventos para pacientes y busqueda de profesionales<br>
          *Familiar/Tutor legal: Cuenta de paciente con opciones de acceso y creacion de eventos relacionados con otros
          familiares, además de la opcion de hacer de tutor legal de pacientes dependientes los cuales no pueden
          auto-gestionarse</p>
      </div>
    </div>



  </div>


  <app-footer class="footer"></app-footer>