@import '../../styles/colors.scss' ;
@import '../../styles/functions.scss' ;



.container{
    height: 90vh;
    width: 90%;
    // border:2px solid blue;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgba(146, 169, 216, 0.8) 0%, rgba(191, 181, 211, 0.8) 85.97%);
   
    .titulo{
        //  @include titulo();
         color: white;
         padding: 1%;
        //  border:2px solid red;
     }

    .form{
        // border:2px solid rgb(217, 243, 22);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13%;
        width: 90%;
        height: 40%;
            .camposIzq{
                // border:2px solid green;
                font-size: x-small;
                width: 30%;
                height: 180px;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                        input{
                            height: 20px;
                            width: 100%;
                            border: 1px solid white;
                            border-radius: 0%;
                        }
                        label{
                            height: 9px;
                            width: 100px;
                            font-size: x-small;
                            color:white;

                        }
            }
            .camposDrch{
                // border:2px solid purple;
                width: 30%;
                font-size: x-small;
                height: 180px;
                        input{
                            height: 20px;
                            width: 100%;
                            border: 1px solid white;
                            border-radius: 0%;
                        }
                        label{
                            height: 9px;
                            width: 100px;
                            font-size: x-small;
                            color:white;

                        }
          }
    }
    .checks{
        // border:2px solid orange;
        height: 20%;
        width: 30%;
        margin-left: 35%;
        display: flex;
        flex-direction: column;
        font-size: x-small;
        color:white;
            input{
                border: 1px solid white;
                border-radius: 0%;
            }

        // justify-content: center;
        // align-items: center;

    }
    .abajo{
        // border:2px solid orangered; 
        height: 50%;    
        display: flex;
        flex-direction: row;
        .imagen{
            // border:2px solid greenyellow;  
            width: 44%;
        } 
        .boton{
            // border:2px solid rgb(0, 145, 255); 
            width: 20%;
            padding-top: 1%;

                #botonn{
                background-color: white;
                color: #E8C597;
                font-weight: 700;
                border: 1px solid white;
                border-radius: 0%;
                width: 70%;
                }
        }
        .texto{
            // border:2px solid rgb(0, 255, 242);    
            font-size:xx-small;
            color:white;
            width: 40%;
            padding: 1%;
        }
    }
}

@media screen and (max-width:475px){
    #botonn{
        width: 5%;
        font-size:xx-small;
    }
    .form{
        width: 40%;
        height: 10%;
        .camposIzq{
            font-size: x-small;
            width: 10%;
            height: 100px;
            padding-right: 1%;
            input{
                height: 10px;
                width: 50%;
                border: 1px solid white;
                border-radius: 0%;
            }
            label{
                height: 5px;
                width: 50px;
                font-size: xx-small;
                color:white;

            }
        }
        .camposDrch{
            font-size: x-small;
            width: 10%;
            height: 100px;
            input{
                height: 10px;
                width: 50%;
                border: 1px solid white;
                border-radius: 0%;
            }
            label{
                height: 5px;
                width: 50px;
                font-size: xx-small;
                color:white;

            }
        }
    }
    .abajo{
        display: flex;
        margin-left: 25%;
        // flex-direction: column;
        width: 100%;
        .texto{
            width: 100%;
            padding: 0%;
        }
        .imagen{
            display: none;
        }
        .boton{
            width: 100%;
            #botonn{
                width: 100%;
                padding: 0%;
                font-size:xx-small;
            }
        }
    }
}
