@import '../../styles/colors.scss' ;
@import '../../styles/functions.scss' ;




.container{
    height: 90vh;
    width: 90%;
    // border:2px solid blue;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgba(146, 169, 216, 0.8) 0%, rgba(191, 181, 211, 0.8) 85.97%);
   
    .titulo{
        //  @include titulo();
         color: white;
         padding: 1%;
        //  border:2px solid red;
     }

    .form{
        // border:2px solid rgb(217, 243, 22);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13%;
        width: 90%;
        height: 40%;
            .camposIzq{
                // border:2px solid green;
                width: 30%;
                height: 230px;
                        input{
                            height: 20px;
                            width: 200px;
                            border: 1px solid wheat;
                            border-radius: 0%;
                        }
                        label{
                            height: 9px;
                            width: 100px;
                            font-size: x-small;
                            color:white;

                        }
            }
            .camposDrch{
                // border:2px solid purple;
                width: 30%;
                height: 230px;
                        input{
                            height: 20px;
                            width: 200px;
                            border: 1px solid wheat;
                            border-radius: 0%;
                        }
                        label{
                            height: 9px;
                            width: 100px;
                            font-size: x-small;
                            color:white;

                        }
          }
    }
    .checks{
        // border:2px solid orange;
        height: 20%;
        width: 30%;
        margin-left: 31%;
        display: flex;
        flex-direction: column;
        font-size: x-small;
        color:white

        // justify-content: center;
        // align-items: center;

    }
    .abajo{
        // border:2px solid orangered; 
        height: 50%;    
        display: flex;
        flex-direction: row;
        .imagen{
            // border:2px solid greenyellow;  
            width: 44%;
        } 
        .boton{
            // border:2px solid rgb(0, 145, 255); 
            width: 20%;
            padding-top: 1%;

                #botonn{
                background-color: white;
                color: #E8C597;
                font-weight: bold;
                border: 1px solid wheat;
                border-radius: 0%;
                width: 70%;
                }
        }
        .texto{
            // border:2px solid rgb(0, 255, 242);    
            font-size:xx-small;
            color:white;
            width: 40%;
            padding: 1%;
        }
    }
}