@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.cuerpo {
    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;
        height: 100%;
    }
}

.particleCard {
    display: flex;
    justify-content: space-around;
    padding-left: 170px;
    padding-right: 170px;
}

.carousel {
    margin-top: 50px;
    z-index: 30000;
    height: 60vh;


}

.bloqueInfo {
    display: flex;
    padding-left: 15px;
    flex-direction: row;
}

.titulo {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    @include titulo();

}

.arrows {
    margin-left: 25px;
    max-width: 60px;
    min-width: 60px;
}

.info {
    font-weight: bold;
    color: $primaryText;
    margin-bottom: 15px;
}

.filtro {
    font-weight: bold;
    color: $primaryText;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-left: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #7485be;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #7485be;
}

.bloqueBoton {
    display: flex;
    justify-content: flex-end;
    padding-right: 140px;
}

.filtrar {

    margin-top: 5px;
    border: 2px solid #E8C597;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    background-color: white;
    color: #E8C597;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.filtrar:hover {
    background-color: #E8C597;
    color: white;
}

.asistente {
    z-index: 30000;
}

.bloqueSwap {
    z-index: 30000;
    padding-left: 50px;
}

.anfitrion {

    margin-top: 10px;
    border: 2px solid $secondaryColor;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    background-color: white;
    color: $secondaryColor ;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.anfitrion:hover {
    background-color: $secondaryColor ;
    color: white;
}
.instruct{
    padding-top: 5px;
    color: $primaryText;
}

@media (max-width: 1200px) {
    .particleCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;


    }

    .tarjeta {
        margin-bottom: 25px;
    }

    .carousel {
        margin-top: 50px;
        z-index: 30000;
        height: 60vh;
    }

    .carousel-indicators {
        display: none;
    }

    .footer {
        display: none;
    }

}

@media (max-width: 700px) {
    .bloqueBoton {
        padding-right: 50px ;

    }
}
    @media (max-width: 400px) {
        .bloqueBoton {
            padding-right: 30px ;
    
        }

}



@media (max-width: 600px) {
    .bloqueInfo {
        display: none;

    }


}