<div class="cuerpo">
    <app-header-fam></app-header-fam>
    <div class="bloqueInfo">
        <div class="titulo">Administrar</div>
        <!-- <img class="arrows" src="../../../assets/img/arrows.png"> -->
    </div>    
    <div class="filtro">
        <div class="bloqueFiltro">
        <div class="filtro">
            <form #filtroForm="ngForm" (ngSubmit)="onSubmit4(filtroForm)" novalidate class="filtroForm">
            <div class="form-group">
                <div class="particulaFiltro">
                <div class="inputTitle">Localidad</div>
                <input type="text" name="localidad" class="input" ngModel #localidad="ngModel">
            </div>
        </div>
        <div class="form-group">
            <div class="particulaFiltro">
                <div class="inputTitle">Modalidad</div>
                <input type="text" name="modalidad" class="input" ngModel #modalidad="ngModel">
            </div>
        </div>
        <div class="form-group">
            <div class="particulaFiltro">
                <div class="inputTitle">Terapia</div>
                <input type="text" name="terapia" class="input" ngModel #terapia="ngModel">
            </div>
        </div>    
            <div class="bloqueBoton">
                <button type="submit" class="filtrar">Filtrar</button>
                </div>
            </form>
        </div>
    <div class="bloqueSwap">
        <button class="anfitrion" onclick= "location.href= 'http://localhost:4200/admin-eventos-fam-anfi';">Anfitrión</button>
        <div class="instruct">Haz click en este botón para cambiar entre los eventos a los que asistes y los que impartes.</div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">


        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="particleCard">
                    <app-tarjeta-eventos-cancelar  class="tarjeta" onclick= "location.href= 'http://localhost:4200/tarjeta-evento';"></app-tarjeta-eventos-cancelar>
                    <app-tarjeta-eventos-cancelar class="tarjeta" onclick= "location.href= 'http://localhost:4200/tarjeta-evento';"></app-tarjeta-eventos-cancelar>
                    <app-tarjeta-eventos-cancelar class="tarjeta" onclick= "location.href= 'http://localhost:4200/tarjeta-evento';"></app-tarjeta-eventos-cancelar>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="particleCard">
                    <app-tarjeta-eventos-cancelar class="tarjeta"></app-tarjeta-eventos-cancelar>
                    <app-tarjeta-eventos-cancelar class="tarjeta"></app-tarjeta-eventos-cancelar>
                    <app-tarjeta-eventos-cancelar class="tarjeta"></app-tarjeta-eventos-cancelar>
                </div>
            </div>
            <div class="carousel-item">
                <div class="particleCard">
                    <app-tarjeta-eventos-cancelar class="tarjeta"></app-tarjeta-eventos-cancelar>
                    <app-tarjeta-eventos-cancelar class="tarjeta"></app-tarjeta-eventos-cancelar>
                    <app-tarjeta-eventos-cancelar class="tarjeta"></app-tarjeta-eventos-cancelar>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                class="active primary" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
       
    </div>
    
</div>
<app-footer class="footer"></app-footer>
