<div id="openModal" class="modalDialog">
                      
    <div class="bloqueForm">
        <a href="mis-eventos-paciente/#closeAfir" title="Close" class="closeAfir">x</a> 
     <div class="form">       
                  
         <h2 class="titulo">¡No puedo ir!</h2>
         
         <div class="info">¿Quieres cancelar tu asistencia al evento?</div>
         <div class="bloqueBotones">
            <a href="mis-eventos-paciente/#closeAfir" class="boton1">Si</a>
            <a href="mis-eventos-paciente/#closeAfir" class="boton2">No</a>
         </div>
         
     </div>
     
 </div>
</div>

