<div class="contenedorPadre">
    <div class="header">
        <app-header-pro></app-header-pro>
    </div>
    <div class="tituloPagina">
        <h2 class="tituloh2Pagina">Hola Rosa!</h2>
    </div>
    <div class="cont">
        <div class="contenedorIzq">
            <div class="cajaSolicitud">
                <h4 class="solicitudes">Solicitudes de chat</h4>
            </div>
            <div class="pacientes">
                <h6 class="tituloPacientes">Pacientes</h6>
                    <div class="textoPacientes">
                        <p class="pPaciente"><span class="azulito">Manoli</span> quiere iniciar conversación.</p>
                        <p class="pPaciente">Accede a su <span class="azulito">carta de presentación</span></p>
                    </div>
                    <div class="textoPacientes">
                        <p class="pPaciente"><span class="azulito">Jorge</span> quiere iniciar conversación.</p>
                        <p class="pPaciente">Accede a su <span class="azulito">carta de presentación</span></p>
                    </div>
            </div>
            <div class="familiares">
                <h6 class="tituloFamiliares">Familiares</h6>
                    <div class="textoFamiliares">
                        <p class="pFamiliares"><span class="naranjito">Chufa</span> quiere iniciar conversación.</p>
                        <p class="pFamiliares">Accede a su <span class="naranjito">carta de presentación</span></p>
                    </div>
                    <div class="textoPacientes">
                        <p class="pFamiliares"><span class="azulito">Claudia</span> quiere iniciar conversación.</p>
                        <p class="pFamiliares">Accede a su <span class="naranjito">carta de presentación</span></p>
                    </div>
            </div>

            <div class="imagen">
                <img src="../../../assets/img/undraw_accept_request_re_d81h 1.png" alt="">
            </div>
        </div>
        <div class="contenedorDcha">
            <h4 class="tituloEventos">Mis eventos publicados:</h4>
            <div class="mostrarEvento">
                
                <div class="eventoInd">
                    <app-mostrar-evento onclick= "location.href= 'http://localhost:4200/tarjeta-evento';"></app-mostrar-evento>
                </div>
                <div class="eventoInd">
                    <app-mostrar-evento onclick= "location.href= 'http://localhost:4200/tarjeta-evento';"></app-mostrar-evento>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>