<app-header-pro></app-header-pro>

<div class="contenedorPadre">
     <!-- <div class="header">
        
    </div> -->
    <div class="tituloPagina">
        <h2 class="tituloh2Pagina">Hola {{user.name}}!</h2>
    </div>
    <div class="cont">
        <div class="contenedorIzq">
            <div class="cajaSolicitud">
                <h4 class="solicitudes">Solicitudes de chat</h4>
            </div>
            <div class="bloqueMensajes">
            <div class="pacientes">
                <h6 class="tituloPacientes">Pacientes</h6>
                    <div class="textoPacientes" *ngFor=" let pac of pacientes">
                        <p class="pPaciente"><span class="azulito">{{pac.name}}</span> quiere iniciar conversación.</p>
                        <p class="pPaciente">Accede a su <span class="azulito" onclick= "location.href= 'http://localhost:4200/solicitud-pacientes';">carta de presentación</span></p>
                    </div>
            </div>
            <div class="familiares">
                <h6 class="tituloFamiliares">Familiares</h6>
                    <div class="textoFamiliares" *ngFor=" let fam of familiares">
                        <p class="pFamiliares"><span class="naranjito">{{fam.name}}</span> quiere iniciar conversación.</p>
                        <p class="pFamiliares">Accede a su <span class="naranjito" onclick= "location.href= 'http://localhost:4200/solicitud-pacientes';">carta de presentación</span></p>
                    </div>
                    
            </div>
        </div>
            <div class="imagen">
                <img src="../../../assets/img/listas.png" alt="">
            </div>
        </div>
        <div class="contenedorDcha">
            <h4 class="tituloEventos">Mis eventos publicados</h4>
            <div class="mostrarEvento">
                
                <div class="eventoInd">
                    
                    <app-mostrar-evento [evento]= "evento1" routerLink="http://localhost:4200/creacion-evento"></app-mostrar-evento>
                </div>
                <div class="eventoInd">
                    <app-mostrar-evento [evento]= "evento2"routerLink="http://localhost:4200/creacion-evento"></app-mostrar-evento>
                </div>
                <!-- <div class="eventoInd">
                    <app-mostrar-evento onclick= "location.href= 'http://localhost:4200/tarjeta-evento';"></app-mostrar-evento>
                </div>
                <div class="eventoInd">
                    <app-mostrar-evento onclick= "location.href= 'http://localhost:4200/tarjeta-evento';"></app-mostrar-evento>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>