<a href="#openModal">Lanzar el modal</a>


    <div id="openModal" class="modalDialog">
                      
           <div class="bloqueForm">
             
            <div class="form">       
                                     
                <h2 class="titulo">My Shoulder</h2>
                <form>
                    <p class="inputTitle">USUARIO</p>
                    <input type="text" class="input">
                    <p class="inputTitle">CONTRASEÑA</p>
                    <input type="password" class="input">
                    <p class="reminder">¿Olvidaste la contraseña?</p>
                </form>
                <button class="register">Log-In</button>
                <a href="#close" title="Close" class="close">cerrar</a>   
            </div>
            
        </div>
    </div>

