<div class="chat">
    <div class="nombre-chat">
        Claudia
    </div>
    <div class="conversacion">
        <div class="recepcion">
            
            <div class="content">
                <p class="rec-name">Claudia:</p>
                Hola Rosa, 
                ¿Para cuando podríamos concretar una cita?
            </div>
        </div>
        <div class="send">
            <div class="content">
                <p class="send-name">Tu:</p>
                Hola Claudia, 
                ¿Te viene bien el jueves a las 18.00?
            </div>
        </div>
    </div>
    <div class="input">
        <div class="texto">
            <input type="textarea" placeholder="Introduce tu mensaje">
        </div>
        <div class="enviar">
            <button type="reset"class="button_slide slide_right"> Enviar </button>
         
        </div>

    </div>
</div>
