
<div class="chat"  id="chatmodal">
    <span onclick="document.getElementById('chatmodal').style.display='none'"
    (click)="!modalChat" class="closebutton">&times;</span>
        <div class="nombre-chat">
            Claudia
        </div>
        <div class="conversacion">
            
                
                <div class="content">
                    <p *ngFor="let mensaje of chat" [ngClass] ="(emisor==mensaje.id_emisor)?'send':'recepcion'">
                        {{mensaje.contenido}}
                    </p>
                </div>
            
        </div>
        <form class="input" (ngSubmit)="enviarMensaje()">
            <div class="texto">
                <input type="textarea" placeholder="Introduce tu mensaje" [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="enviar">
            <button type="reset"class="button_slide slide_right" (click)="enviarMensaje()"> Enviar </button>
         
            </div>

        </form>

</div>
