
<div class="header">
    <div class="img">
    <img src="../../../assets/img/logo.svg" />
    </div>
    <div class="bloque-enlace">
    <ul id="nav">
        <li><a href="#" class="activa">Home</a></li>
        <li><a href="#" class="no-activa">Pacientes</a>
            <ul>
                <li><a href="#">Solicitudes</a></li>
                <li><a href="#">Chats</a></li>
                    </ul>
        <li><a href="#"class="no-activa">Eventos</a>
            <ul>
                <li><a href="#">Mis Eventos</a></li>
                <li><a href="#">Chats</a></li>
                    </ul>
        <li><a href="#"class="no-activa">Perfil</a>
            <ul>
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Modificar</a></li>
                <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>