<div class="header">
    <div class="img">
    <img src="../../../assets/img/logo.svg" />
    </div>
    <div class="bloque-enlace">
        <ul id="nav">
            <li routerLinkActive="activa" routerLink="/landing-paciente"><a>Home</a></li>
            <li routerLinkActive="activa" routerLink="/busqueda-profesional"><a>Profesionales</a></li>
            <li routerLinkActive="activa" routerLink="/busqueda-evento"><a>Eventos</a>
                <ul>
                    <li routerLink="/mis-eventos-paciente"><a>Mis Eventos</a></li>
                </ul>
            <li routerLinkActive="activa" [routerLinkActiveOptions]="{exact : true}"><a>Perfil</a>
                <ul>
                    <li><a routerLink="/edicion-perfil">Modificar</a></li>
                    <li><a routerLink="/">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>