<div class="header">
    <div class="img">
    <img src="../../../assets/img/logo.svg" />
    </div>
    <div class="bloque-enlace">
    <ul id="nav">
        <li><a href="#" class="activa">Home</a></li>
        <li><a routerLink="/busqueda-profesionales" class="no-activa">Profesionales</a>
            <!-- <ul>
                <li><a href="#">Solicitudes</a></li>
                <li><a href="#">Chats</a></li>
                    </ul> -->
        <li><a routerLink="/busqueda-evento" class="no-activa">Eventos</a>
            <ul>
                <li><a routerLink="/mis-eventos-paciente">Mis Eventos</a></li>
                <!-- <li><a href="#">Chats</a></li> -->
                    </ul>
        <li><a routerLink="/landing-paciente" class="no-activa">Perfil</a>
            <ul>
                <li><a routerLink="/edicion-perfil">Modificar</a></li>
                <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>