@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.header{
    
    height: 10vh;
    width: 100%;
    @include flexCenter(row);
    font-family: 'montserrat';
    
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    .img{
        height: 50px;
        width: auto;
        img{
            height: 50px;
            width: auto;
        }
    }
    ul{
        
        .active{
            color:$secondaryColor;
            padding-bottom: 2px;
            border-bottom: 1px solid $secondaryColor;
        }
        width: 30%;
        @include flexCenter(row);
        list-style: none;
        margin-right: 3em;
        justify-content: space-around;
        a{
            font-weight: 300;
            text-decoration: none;
            color:$primaryText;    
        }
        a:after{
            content: '';
            display:block;
            background-color: $secondaryColor;
            height: 1px;
            width: 0;
            margin-top: 2px;
            color: $secondaryColor;         
            transition:0.3s;
        }
        a:hover:after  {
            width:100%;
           
        }
      
        a:hover{
            color: $secondaryColor;
            transition: 0.3s;
        }

    }
}

