<div id="modalEdPerfil" class="modalEdPerfil">
                      
    <div class="bloqueForm">
        <!-- <a href="busqueda-profesional/#closeAfir" title="Close" class="closeAfir">x</a>  -->
        <span onclick="document.getElementById('modalEdPerfil').style.display='none'" title="Close" class="closebutton">&times;</span>
     <div class="form">       
                  
         <h2 class="titulo">¡Enhorabuena!</h2>
         
         <div class="info">Has modificado tu perfil con éxito</div>
         
     </div>
     
 </div>
</div>
