<app-header></app-header>
        <div class = contenedor-general>

            <div class = "contenedor-arriba">
                <h3 class = "titulo">Quiénes Somos</h3>
            </div>



            <div class = "contenedor-abajo">

                <div class = "contenedor-izquierda">     
                    <div class = "titulo1">
                        <h3 class = "titProyecto">Proyecto</h3>

                    </div>

                    <div class = "parrafo">
                      <p>En <span class = "myShoulder">myShoulder</span> pensamos que nos conocerás mejor si primero te contamos que nuestro principal interés se basa en velar por la salud mental de las personas.<br><br>
                         El pilar principal de nuestro proyecto se basa en poder mejorar la calidad de vida de las personas con problemas de salud mental y la de sus familias acercando tanto el contacto con profesionales cualificados como apoyando y promoviendo la inscripción en diferentes talleres y eventos tematizados.<br><br>
                         No somos perfectos, tan solo un grupo joven con muchas ganas de aportar y ofrecer apoyo, orientación y asesoramiento desde el mayor respeto y siempre defendiendo la dignidad de las personas.
                      </p>      
                    </div>

                </div>
        
                <div class = "contenedor-derecha">

                    <div class = "titulo2">
                        <h3 class = "titProyecto">Equipo</h3>
                    </div>
            
                    <div class = "perfiles-arriba">
                        <div class = "perfil-alvaro">
                            <div class="cont-img-Ana">
                            <a  href="https://www.linkedin.com/in/ana-perez-vico-53526b242/"></a>
                            </div>
                            <h6 class = "text-arriba1">Ana</h6>
                        </div>
                        <div class = "perfil-alvaro">
                            <div class="cont-img-Alvaro">
                            <a href="https://www.linkedin.com/in/alvaro-sanchez-haro-dev"></a>
                            </div>
                            <h6 class = "text-arriba2">Alvaro</h6>
                        </div>
                        <div class = "perfil-alvaro">
                            <div class="cont-img-Javier">
                            <a href="https://www.linkedin.com/in/javiergarridoaguilera/"></a>
                            </div>
                            <h6 class = "text-arriba3">Javier</h6>
                        </div>
                    </div>
                    <div class="perfiles-abajo">

                        <div class = "perfil-claudia">
                            <div class="cont-img-Claudia">
                           <a href="https://www.linkedin.com/in/claudia-d%C3%ADez-s%C3%A1nchez-510632240/"></a>
                            </div>
                            <h6 class = "text-arriba4">Claudia</h6>
                        </div>
                        <div class = "perfil-jorge">
                            <div class="cont-img-Jorge">
                            <a href="https://www.linkedin.com/in/jorge-holgado-torres-683ab3146/"></a>
                            </div>
                            <h6 class = "text-arriba5">Jorge</h6>
                        </div>
                    </div>
                 </div>
            </div>

            <div class = "footer">
                <app-footer></app-footer>
            </div>
        </div>


    

