
        <div class = contenedor-general>

            <div class = "contenedor-arriba">
                <h3 class = "titulo">Quiénes Somos</h3>
            </div>



            <div class = "contenedor-abajo">

                <div class = "contenedor-izquierda">     
                    <div class = "titulo1">
                        <h3 class = "titProyecto">Proyecto</h3>

                    </div>

                    <div class = "parrafo">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non nibh vel felis dictum lobortis a et erat. Interdum et iaculis risus ut felis malesuada, eget laoreet ex sollicitudin. Mauris non nunc ligula.<br><br>

                        Maecenas quis lobortis dolor. Etiam mollis dui nisi, non tempor nibh efficitur eget. Phasellus sodales sagittis justo, quis consectetur quam euismod id. Etiam ac massa ante. Pellentesque facilisis ultricies</p>      
                    </div>

                </div>
        
                <div class = "contenedor-derecha">

                    <div class = "titulo2">
                        <h3 class = "titProyecto">Equipo</h3>
                    </div>
            
                    <div class = "perfiles-arriba">

                        <div class = "perfil-ana">
                            <img class = "ImagenPrincipal" src="../../../assets/img/chica.png"> 
                            <h6 class = "text-arriba1">Ana</h6>
                        </div>

                        <div class = "perfil-alvaro">
                            <img class = "ImagenPrincipal" src="../../../assets/img/chico.png"> 
                            <h6 class = "text-arriba2">Alvaro</h6>
                        </div>

                        <div class = "perfil-javier">
                            <img class = "ImagenPrincipal" src="../../../assets/img/chico.png"> 
                            <h6 class = "text-arriba3">Javier</h6>
                        </div>
                    </div>

                    <div class = "perfiles-abajo">

                        <div class = "perfil-jorge">
                            <img class = "ImagenPrincipal2" src="../../../assets/img/chico.png"> 
                            <h6 class = "text-arriba4">Jorge</h6>
                        </div>
             
                        <div class = "perfil-claudia">
                            <img class = "ImagenPrincipal2" src="../../../assets/img/chico.png"> 
                            <h6 class = "text-arriba5">Claudia</h6>
                        </div>
                    </div>

                 </div>
            </div>

            <div class = "footer">
                <app-footer></app-footer>
            </div>
        </div>


    

