
<div class="cuerpo">
    <app-header-pro></app-header-pro>
<div class="bloqueCarousel">
    <div class="carousel">
        <div class="navigator"  (click)="previous()">&#60;</div>
        <div class="data-row">
            <div class="data-list">
                <ng-container class="ngContainer" *ngFor="let paciente of groupShown " ; let index=index; let last=last>
                    <div class="data-container">
                        <app-gestion-paciente class="cartaPaciente"  [elementoPadre]="paciente" (refrescoPacientes)="detele()" ></app-gestion-paciente>
                    </div>
                </ng-container>

            </div>
        </div>
        <div class="navigator" (click)="next()">
            &#62;</div>
    </div>

  </div>
</div>

  <app-footer class="footer"></app-footer>