@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.cuerpo {
  @-ms-viewport {
      width: extend-to-zoom;
      zoom: 1.0;
      height: 100%;
      width:100%
  }
}
.carousel {

  width: 100%;
  margin-top:30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  z-index: 99999;
  width: 100vw;
  height: 60vh;
  padding: 0%;
  margin: 0%;


}
.data-row{
  padding: 0%;
  margin: 0%;
  margin-top: 80px;
  height: 100%;
  max-width: 100%;
}

.data-list{
  display:flex; 
  flex-direction: column;
  width: 80vw;
  display:flex;
  justify-content: space-around;
  padding: 0%;
  margin: 0%;
}
.ngContainer{

  display:flex; 
  flex-direction: column;
  height: 80vh;
  padding: 0%;
  margin: 0%;
}
.data-container {

  display:flex; 
  flex-direction: row;
  padding: 0%;
  margin: 0%;

}
// .tarjeta{
//   padding: 0%;
//   margin: 0%;
// }

.cartaPaciente{
  margin-top: 10px;
  margin: auto;
  
}

.navigator{
  font-size: 2em;
  color: rgb(78, 120, 184);
}


.bloqueInfo {
  padding-left: 45px;
  padding-top:25px;
}

// .titulo {
//   display: flex;
//   justify-content: left;
//   align-items: center;
//   width: 350px;
//   height: 50px;
//   @include titulo();

// }

.info {
  font-weight: bold;
  padding-left: 10px;
  color: $primaryText;
  margin-bottom: 15px;
}

// .filtro {
//   font-weight: bold;
//   color: $primaryText;
//   margin-bottom: 15px;
//   padding-top: 25px;
//   padding-left: 40px;
// }