<div class="cuerpo">
    <div class="bloqueTarjeta">
        <div class="bloqueIzq">
            <div class="cajaInfo">
                <div #input1 class="info" id="id_user">
                     {{elementoPadre.id_user}}
                </div>
            </div>
            <div class="cajaImg">
                <img class="perfilImg" src="{{elementoPadre.img}}">
            </div>
            <div class="cajaInfo">
                <div class="info">
                    {{elementoPadre.name}}
                </div>
            </div>
            <div class="cajaInfo">
                <div class="info">
                    {{elementoPadre.sname}}
                </div>
            </div>
            <div class="cajaInfo">
                <div class="info">
                    {{elementoPadre.email}}
                </div>
            </div>
        </div>
        <div class="bloqueCent">
            <div class="cajaTexto">

                <textarea #input class="inputDiagnostico" id="diagnostico"placeholder="BREVE DIAGNOSTICO POR PARTE DEL PROFESIONAL">{{elementoPadre.diagnostico}}</textarea>
                <div class="bloqueBoton">
                    <button class="boton1" type="submit" (click)="modificar(elementoPadre , input)">Guardar</button>

                </div>

            </div>
        </div>
        <div class="bloqueDer">
            <button class="boton2"  (click)="modalChat=!modalChat"  >Chat</button>
             <div *ngIf="modalChat">
                <app-modal-chat  [prof]="prof" class="modalChat"></app-modal-chat>
        </div>
            <button class="boton2"  type="submit"(click)="delete(elementoPadre)" (click)="show2=!show2">Baja</button>

        </div>
    </div>
</div>