@import "../../styles/colors.scss";
@import "../../styles/functions.scss";
// .chat{
//     overflow:visible;
//     position:absolute;
//     left: 25%;
//     bottom: 5%;
//     background-color: red;
//     height: 100vh;
//     width: 100vw;
// }
.cuerpo{
    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;
        height: 100%;
    }
}
.bloqueTarjeta{
    display: flex;
    flex-direction: row;   
    max-width:1200px;
    min-width:1200px;
    max-height:34vh;
    min-height: 34vh;
    background: $degMor;
    padding-bottom:10px;
    box-shadow: 0px 10px 20px #888888;
}
.bloqueIzq{
    @include flexCenter(column);
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    
}
.cajaInfo{
    @include flexCenter(column);
    background-color: white;
    color: $primaryText;
    max-width:230px ;
    min-width:230px ;
    margin-bottom: 5px;
    margin-top: 5px;
    
    
}
.perfilImg{
    max-width: 158px;
    min-width: 158px;
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; 
    padding-top: 10px;
    padding-bottom: 5px;
}
.bloqueCent{
    display: flex;
    margin-top:10px ;   
    width: 800px; 
    min-height:305px;
    max-height:305px;
    color: $primaryText;
}
.cajaTexto{
     
    background-color: white;
    min-height:300px;
    max-height:300px;
    max-width: 800px;
    min-width: 800px;
    padding: 5px;
    
}
.inputDiagnostico{   
    border: none;
    outline: none;
    text-decoration: none;
    min-height:250px;    
    max-width: 670px;
    min-width: 670px;
    padding:5px;
    overflow:hidden;
    resize: none;
}


.bloqueDer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    
   
   
}
.bloqueBoton{
    display:flex;
    justify-content: flex-end;  
    padding-top: 10px;  
  
}
.boton1{
    background: none;   
    border: 2px solid $primaryColor;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;    
    color: $primaryColor ;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.boton1:hover {
    background-color: $primaryColor ;
    color: white;
}

.boton2{
    background: none;   
    border: 2px solid white;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;    
    color: white ;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;

}
.boton2:hover {
    background-color:white ;
    color:  $primaryColor;
}
