<div class="cuerpo" >
    <div class="bloqueTarjeta">
        <div class="bloqueIzq" >
            <div class="cajaInfo">
                <div #id_user  class="info" id="id_user" >
                    
                 {{elementoPadre.id_user}}
                </div>
            </div>
            <div class="cajaImg">
                <img class = "perfilImg" src="{{elementoPadre.img}}"> 
            </div>
            <div class="cajaInfo">
                <div class="info">
                    {{elementoPadre.name}}
                </div>
            </div>
            <div class="cajaInfo">
                <div class="info">
                    {{elementoPadre.sname}}
                </div>
            </div>
            <div class="cajaInfo">
                <div class="info">
                    {{elementoPadre.email}}
            </div>               
            </div>
        </div>
            <div class="bloqueCent">
                <div class="cajaTexto">
                    <form class="texto">
                        <textarea #id_user    class="inputDiagnostico" id="diagnostico"  placeholder="BREVE DIAGNOSTICO POR PARTE DEL PROFESIONAL">
                            {{elementoPadre.diagnostico}}
                        </textarea>
                        <div class="bloqueBoton">
                        <button class="boton1" (click)="modificar(elementoPadre)" >Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="bloqueDer">
                <button class="boton2" (click)="show=!show">Chat</button>
                <button class="boton2" (click)="show2=!show2">Baja</button>
               
            </div>
        </div>
    </div>