<div class="cuerpo">
    <div class="bloqueTarjeta">
        <div class="bloqueIzq">
            <div class="cajaInfo">
                <div class="info">
                    Tipo Usuario
                </div>
            </div>
            <div class="cajaImg">
                <img class = "perfilImg" src="../../../assets/img/Ellipse 7.png"> 
            </div>
            <div class="cajaInfo">
                <div class="info">
                    Nombre
                </div>
            </div>
            <div class="cajaInfo">
                <div class="info">
                    Apellidos
                </div>
            </div>
            <div class="cajaInfo">
                <div class="info">
                    Contacto
            </div>               
            </div>
        </div>
            <div class="bloqueCent">
                <div class="cajaTexto">
                    <form class="texto">
                        <textarea class="inputDiagnostico" placeholder="BREVE DIAGNOSTICO POR PARTE DEL PROFESIONAL"></textarea>
                        <div class="bloqueBoton">
                        <button class="boton1">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="bloqueDer">
                <button class="boton2">Chat</button>
                <button class="boton2">Baja</button>
            </div>
        </div>
    </div>
