<div id="openModal" class="modalDialog" >
                      
    <div class="bloqueForm" >
      
     <div class="form"> 
        <span onclick="document.getElementById('openModal').style.display='none'"class="closeAfir">&times;</span>      
         <!-- <a onclick="document.getElementById('openModal').style.display='none'" title="Close" class="closeAfir">x</a>            -->
         
         <!-- a href="busqueda-profesional/#closeAfir -->

         <h2 class="titulo">¡Enhorabuena!</h2>
         
         <div class="info">Tu presentación ha sido enviada con éxito</div>
         
     </div>
     
 </div>
</div>
