<app-header-pro></app-header-pro>

<div class="cuerpo">    
    <div class="bloqueInfo">
        <!-- <div class="titulo">Solicitudes de pacientes:</div> -->
        <!-- <div class="info">Eventos a los que te encuentras apuntado organizados por nuestros profesionales.</div> -->
    </div>

  <div class="bloqueCarousel">
    <div class="carousel">
        <div class="navigator"  (click)="previous()">&#60;</div>
        <div class="data-row">
            <div class="data-list">
                <ng-container class="ngContainer" *ngFor="let paciente1 of groupShown " ; let index=index; let last=last>
                    <div class="data-container">
                        <app-carta-paciente class="cartaPaciente" [paciente]="paciente1"></app-carta-paciente>
                    </div>
                </ng-container>
  
            </div>
        </div>
        <div class="navigator" (click)="next()">
            &#62;</div>
    </div>
</div>
  </div>
  
  
  <app-footer class="footer"></app-footer>