@import '../../styles/colors.scss';
@import '../../styles/functions.scss';


footer{
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
 
    .nar{
              
        z-index: 1;
        width: 100%;
        height: auto;
            

    }
    .mor{
       
        z-index: 0;
        width: 100%;
        height: auto;
        
    }
    .fill{
        background-color: $secondaryColor;
        height: 30vh;
    }
}