<div class="bloqueNovedades">
        <div class="titulo">
            Aquí tienes un pequeño resumen de como te has sentido ultimamente:
            <br>
            
        </div>    
        <div class="bloqueInfo">
            <div class="info">
                Tu media de nivel de ánimo ha sido de un 
            </div>
            <div class="valor">
                &nbsp;{{animo}}
            </div>
        </div>

        <div class="bloqueInfo">
            <div class="info">
                Tu media de nivel ansiedad ha sido de un 
            </div>
            <div class="valor">
                &nbsp;{{ansiedad}}
            </div>
        </div>

        <div class="bloqueInfo">
            <div class="info">
                Tu media de nivel de energía ha sido de un 
            </div>
            <div class="valor">
                &nbsp;{{energia}}
            </div>
        </div>
</div>


