@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

*{
	box-sizing: border-box;
}
.contenedor{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 15%;
	height: 190px;
	// background:linear-gradient(90deg, #92A9D8 0%, #B9AAD1 81.47%);
	border-radius: 7px;
	color:$primaryText;
	// padding-bottom:10%;
}
h1{
	font-size: 30px;
	margin-bottom: 0px;
	margin-left: 15px;
}
h3{
	font-size: 20px;
	padding-top: 0px;
	margin-left: 15px;
}
 div #radios {
	width: 90%;
	height: 100px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 7px;
}
#radios{
  position:relative;
  width:60%;
  margin:0 auto;
  background:linear-gradient(90deg, #92A9D8 0%, #B9AAD1 81.47%);
  
}
input[type="radio"]{
  position:absolute;
  right:999%;
}
label{
  float:left;
  width:15%; padding-bottom:15%;
  margin:0 2.5%;
  background:rgba(255,255,255,.2);
  border-radius:50%;
  cursor:pointer;
}
#slider{
  position:absolute;
  left:3%; top:1;
  width:10%; padding-bottom:10%;
  margin:2% 0 0 5%;
  background:#fff;
  transition:transform 1s;
  border-radius:50%;
  animation-timing-function: ease-in-out;
  animation-duration:.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left .05s ease-in-out;
}
#input1:checked  ~ #slider{ animation-name: input1; left:0; }
#input2:checked  ~ #slider{ animation-name: input2; left:20%; }
#input3:checked  ~ #slider{ animation-name: input3; left:40%; }
#input4:checked  ~ #slider{ animation-name: input4; left:60%; }
#input5:checked  ~ #slider{ animation-name: input5; left:80%; }

@keyframes input1{ 30%, 70% { transform:scale(0.5); } }
@keyframes input2{ 30%, 70% { transform:scale(0.5); } }
@keyframes input3{ 30%, 70% { transform:scale(0.5); } }
@keyframes input4{ 30%, 70% { transform:scale(0.5); } }
@keyframes input5{ 30%, 70% { transform:scale(0.5); } }
