@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

*{
	box-sizing: border-box;
}
.contenedor{
	display: flex;
	flex-direction: column;
	
	width: 70%;
	height: 50%;
	// background:linear-gradient(90deg, #92A9D8 0%, #B9AAD1 81.47%);
	border-radius: 7px;
	color:$primaryText;
	// padding-bottom:10%;
}
// .contenedorRadio{
// 	width: 100%;
// 	display: flex;
// 	justify-content: flex-start;
// 	align-items: center;
// 	align-content: center;
// }
h1{
	font-size: 30px;
	margin: 15px;
}
h3{
	font-size: 20px;
	padding:2% ;
}
 div #radios {
	width: 70%;
	height:100%;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 7px;
	
}
#radios{
  position:relative;
  width:100%;
 
  background:linear-gradient(90deg, #92A9D8 0%, #B9AAD1 81.47%);
  
}
input[type="radio"]{
  position:absolute;
  right:900%;  
 
  
}
label{
  float:left;
  width:15%; padding-bottom:15%;
  margin:0 2%;
  background:rgb(255, 255, 255);
  border-radius:50%;
  cursor:pointer;
}
#slider{
 
  position:absolute;
  left:3.9%; top:6;
  width:10%; padding-bottom:10%;
  margin: 1% 4 4 1%;
  background:#fff;
  transition:transform 1s;
  border-radius:50%;
  animation-timing-function: ease-in-out;
  animation-duration:.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left .05s ease-in-out;
}
#input1:checked  ~ #slider{ animation-name: input1; left:0; }
#input2:checked  ~ #slider{ animation-name: input2; left:20%; }
#input3:checked  ~ #slider{ animation-name: input3; left:40%; }
#input4:checked  ~ #slider{ animation-name: input4; left: 60%; }
#input5:checked  ~ #slider{ animation-name: input5; left: 80%; }

@keyframes input1{ 30%, 70% { transform:scale(0.5); } }
@keyframes input2{ 30%, 70% { transform:scale(0.5); } }
@keyframes input3{ 30%, 70% { transform:scale(0.5); } }
@keyframes input4{ 30%, 70% { transform:scale(0.5); } }
@keyframes input5{ 30%, 70% { transform:scale(0.5); } }


// .slider{
// 	z-index: 100000;
// 	width: 100%;
// 	height: 100%;
// 	background-color: white;
// 	border-radius: 50%;
// 	transition: .3s;
// }
// .slider:hover{
// 	width: 100%;
// 	height: 100%;
// 	background-color: white;
// 	border-radius: 100%;
// }
//Alvaro

.slidecontainer {
  width: 90%; /* Width of the outside container */
  
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: #ffffff; /* Grey background */
  border-radius: 2em;
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 100%;
  background: $secondaryColor; /* Green background */
  cursor: pointer; /* Cursor on hover */
  
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: $secondaryColor; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.animo{
	color: white;
  font-weight: 500;
  padding-top: .5em
}
.slidecontainer{
	@include flexCenter(column);
	justify-content: center;
	
}
#enviarAnimo{
  font-weight: 500;
	margin-top: .6em;
	box-sizing: none;
	background-color: transparent;
	color:white;
	border: none;
	padding-bottom: .3em;
	transition: .6s;
  width: 50%;
}

#enviarAnimo:hover{
	background-color: rgb(255, 255, 255);
	color:$primaryColor;
	
}