@import '../../styles/colors.scss';
@import '../../styles/functions.scss';


footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .wave-nar{
        
        z-index: 20000;
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: auto;
        animation: wave-nar 15s ease-in-out infinite ;
    }
    .wave-mor{
        
        
        position:absolute;
        z-index: 10000;
        bottom: 0;
        left: 0;
        width: 60vw;
        height: auto;
        animation: wave-mor 10s ease-in-out infinite ;
    }
}
.container{
    max-width: 100vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    overflow: hidden;
    
}
.wave-nar {
    width: 100vw;
    overflow-x: hidden;
}

.wave-mor {
    width: 60vw;
    overflow-x: hidden;
}

@keyframes wave-nar{
    0%{  
    }
    50%{
        
        transform: scalex(1.4);
        
    }
    100%{
        
        
        transform: scalex(1);
    }
}
@keyframes wave-mor{
    0%{
        
        
    }
    50%{
       
        transform: scalex(1.5);
        
    }
    100%{
        
        transform: scalex(1);
    }
}