<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion Perfil Prof</title>

</head>
<body>

<app-header-pro></app-header-pro>

    <div class = "contenedor-general">

        <div class = "contenedor-arriba">
            <div class = "contenedor-titulo">
                <h2 class = "titulo">Hola {{user.name}}!</h2>
            </div>

            <div class = "Edicion">
                <h4>Editar tu perfil profesional</h4>
            </div>
        </div>


        <div class = "contenedor-abajo">
            <form class = "miformu1">
                <div class = contenedor-izquierda>
                        <img class = "ImagenPrincipal" src="{{user.img}}"> 

                        <!-- Nombre input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form1Example1" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel"/>
                            <label class="form-label" for="form1Example1"></label>
                        </div>
                        
                        <!-- Apellido input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form1Example2" class="form-control" name="sname" [(ngModel)]="user.sname" #sname="ngModel" />
                            <label class="form-label" for="form1Example2"></label>
                        </div>
                    
                        <!-- Correo input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form1Example2" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel"/>
                            <label class="form-label" for="form1Example2"></label>
                        </div>
                </div>

                <div class = "contenedor-derecha">   
                    <div class = "Input-Arriba">
                            <!-- Direccion input -->
                            <div class="form-outline1 mb-4">
                                <input type="text" id="form1Example1" class="form-control" name="direccion" [(ngModel)]="user.direccion" #direccion="ngModel" />
                                <label class="form-label" for="form1Example1"></label>
                            </div>

                            <!-- Telefono input -->
                            <div class="form-outline2 mb-4">
                                <input type="text" id="form1Example2" class="form-control" name="telefono" [(ngModel)]="user.telefono" #telefono="ngModel"/>
                                <label class="form-label" for="form1Example2"></label>
                            </div>

                            <div class="form-outline3 mb-4">
                                <input type="text" id="form1Example2" class="form-control" name="horario" [(ngModel)]="user.horario" #horario="ngModel" />
                                <label class="form-label" for="form1Example2"></label>
                            </div>
                    </div>


                    <div class = "Input-Medio">
                        
                            <div class="form-outline4 mb-4">
                                <input type="text" id="form1Example2" class="form-control" name="horario" [(ngModel)]="user.horario" #horario="ngModel"/>
                                <label class="form-label" for="form1Example2"></label>
                            </div>

                            <div class = "checks">

                                <!-- <div class = "Terapia"> -->
                                    <label class="form-check-label1" for="flexCheckDefault">Tipo Terapia: </label>
                                <!-- </div> -->
                                
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox1"  value="presencial" name="modalidad" [(ngModel)]="user.modalidad" #tipo="ngModel">
                                    <label class="form-check-label2" for="inlineCheckbox1">Presencial</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox2" value="online" name="modalidad" [(ngModel)]="user.modalidad" #tipo="ngModel">
                                    <label class="form-check-label2" for="inlineCheckbox2">Online</label>
                                </div>
                            </div>

                            <div class="form-outline5 mb-4">
                                <input type="text" id="form1Example2" class="form-control" name="acreditacion" [(ngModel)]="user.acreditacion" #acreditacion="ngModel"/>
                                <label class="form-label" for="form1Example2"></label>
                            </div>
                        
                    </div>


                    <div class = "Input-Bajo">
                        <div class = "textarea1">

                            <div *ngIf="afirEdPerfil">
                                <app-modal-afir-edicion></app-modal-afir-edicion>
                            </div>

                            <textarea name="textarea" style="overflow:hidden; resize:none" name="descripcion" [(ngModel)]="user.descripcion" #descripcion="ngModel"></textarea>
                        </div>
               
                        <div class="boton">
                            <button class="boton1" (click)="afirEdPerfil=!afirEdPerfil" (click)="modificar()">Guardar</button>
                        </div>
                        
                    </div>
                   
                </div>
            </form>

        </div>
    </div>
    
</body>
</html>

