@import "../../styles/colors.scss";
@import "../../styles/functions.scss";


.contenedor-general {
    z-index: 10;
    padding-left: 5%;      
    background-repeat: no-repeat; 
    background-size:cover;
    padding-top: 1%;
    width: 100vw;
    height: 89vh;
    background-image: url("../../../assets/img/backEdProf2.png");
} 

.ImagenPrincipal {
    width:180px;
    height:180px;
    border-radius:90px;
    margin-bottom: 5%;
}

.titulo {
    // @include titulo();
    font-weight: 700;
    color: $secondaryColor;
    font-size: 2.5em;
    width:300px;
}

h4 {
    font-weight: 700;
    color: $primaryText;
}

.contenedor-abajo {
    // border: 2px solid darkorchid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    min-width: 45%;
    padding-top: 5%;
}

.miformu1 { 
    width: 95%;
    color:white;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.form-control {
    color: $primaryText;
    font-weight: 600;
    text-align: center;
}

.form-outline {
    padding-top: 2%;
    width: 90%;
    height: 7%;
    
}

.form-outline1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1%;
    width: 25%;
    
}


.form-outline2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1%;
    width: 42%
}


.form-outline3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    width: 28%;
}

.form-outline4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 24.5%
}

.form-outline5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 8.5%;
    width: 30.5%;
}


.contenedor-izquierda {
    // border: 2px solid green;
    margin-top: -5%;
    width: 30%;    
    height: 50vh;
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.contenedor-derecha {
    // border: 2px solid red;
    width: 100%;
    height: 65%;  
}


.Input-Arriba {
    // border: 2px solid black;
    margin-bottom: -2%;
    margin-left: 2%;
    margin-right: 3%;

    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;  
      
}

.Input-Medio {
    // border: 2px solid orange;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 2%;
}


.form-check {
    margin-left: 2%;
}


.form-check-label1 {
    font-weight: 600;
    color: $primaryText;
}

.form-check-label2 {
    font-weight: 400;
    color: $primaryText;
}


.checks {
    width: 35%;
    margin-bottom: 2%;
    margin-left: 2%;
}


.Input-Bajo {
    // border: 2px solid orange;
    height: 68%;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: -2.5%;
}

.textarea1 {
    // border: 2px solid black;
    padding-left: 3%;
    height: 35vh;
    width: 65%;
    resize: none;
    z-index: "-1";
}

textarea {
    border-radius: 1%;
    color: $primaryText;
    font-weight: 600;
    text-align: left;
    width: 100%;
    height: 98%;
    border: none;
    padding-top: 2%;
    padding-left: 4%;
}


.boton {
    // border: 2px solid red;
    height: 40vh;
    width: 33%;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


// .guardar {
//     height: 15%;
//     width: 65%;
//     background:  linear-gradient(270.11deg, #9c9dbf2f  58.67%,  #e8c59749 99.94%); 
//     border: none;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 1.5em;
//     font-weight: bold;
//     color: #E8C597; 

//     padding-left:5%;
//     padding-right:5%;

//     transition-duration: 0.4s;
//     cursor: pointer;
    
//   }

//   .guardar:hover{
//     background:  linear-gradient(270.11deg,  #e8c59770 58.67%,  #9c9dbf62 99.94%);
//     color: white;
// }

.boton1{
    width: 45%;
    height: 15%;
    background: none;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    color: white ;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.boton1:hover {
    background-color: white ;
    color: #E8C597;
}





@media screen and (max-width:550px){

    .boton {
        font-size: xx-small;
    }
}

// .footer-pro{
//     position: absolute;
//     width: 100%;
//     z-index: 1;
//     bottom: 0;
//     left: 0;
//     display: flex;
//     .nar{
//         position: absolute;
//         z-index: 1;
//         width: 100%;
//         height: auto;
            

//     }
//     .mor{
//        position: absolute;
//         z-index: 0;
//         bottom: 35vh;
//         width: 100%;
//         height: auto;
        
//     }
//     .fill{
//         background-color: $secondaryColor;
//         height: 30vh;
//     }
// }
