@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.cuerpo {
    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;
        height: 100%;
    }
}

.particleCard {
    display: flex;
    justify-content: space-around;
    padding-left: 170px;
    padding-right: 170px;
}

.carousel {
    margin-top: 50px;
    z-index: 30000;
    height: 60vh;
  

}

.bloqueInfo {
    padding-left: 15px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 50px;
    @include titulo();

}

.info {
    font-weight: bold;
    color: $primaryText;
    margin-bottom: 15px;
}

.filtro {
    font-weight: bold;
    color: $primaryText;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-left: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;     
  background-size: 100%, 100%;       
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #7485be;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #7485be;
}

@media (max-width: 1200px) {
    .particleCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
             
      
    }
    .tarjeta{
        margin-bottom: 25px;  
    }
    .carousel {
        margin-top: 50px;
        z-index: 30000;
        height: 60vh;
    }
  .carousel-indicators{
    display:none;
  }
  .footer{
    display:none;
}
  
  }
  
    @media (max-width: 600px) {
        .bloqueInfo{
            display: none;
          
        }
      
        .carousel{
         
        }
    }