<div id="openModal" class="modalDialog">
                      
    <div class="bloqueForm">
        <a href="solicitud-pacientes/#closeAfir" title="Close" class="closeAfir">x</a> 
     <div class="form">       
                  
         <h2 class="titulo">Rechazar paciente</h2>
         
         <div class="info">¿Estás seguro de que quieres rechazar a este paciente?</div>
         <div class="bloqueBotones">
            <a href="solicitud-pacientes/#closeAfir" class="boton1">Enviar</a>
            <a href="solicitud-pacientes/#closeAfir" class="boton2">Volver</a>
         </div>
         
     </div>
     
 </div>
</div>
