@import "../../styles/colors.scss";
@import "../../styles/functions.scss";


.cuerpo{
    margin-top: 100px; 
    height: 89vh;   
    padding-left: 10px;
    padding-right: 10px;
   
}
.logo{
    margin-bottom: 80px;
}
.bloqueTexto{
    width: 100%;
    
}
.titulo {
 
    @include titulo();
    font-size: 2.5em;
    width: 300px;
}
.naranjito{
    color: #E8C597; 
    font-weight: bold;
}
.register {   
    margin-top: 55px;
    border: none;       
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    font-size: 2em;
    font-weight: bold;
    background:  linear-gradient(270.11deg, #9c9dbf2f  58.67%,  #e8c59749 99.94%); 
    color: #E8C597; 
    padding-left:20px;
    padding-right:20px;    
    transition-duration: 0.4s;
    cursor: pointer;
    
    
  }  
  .register:hover{
    background:  linear-gradient(270.11deg,  #e8c59770 58.67%,  #9c9dbf62 99.94%);
    color: white;
}
 
@media (max-width: 1000px) {
 
  }
  @media (max-width: 600px) {
    .bloqueTexto{
      width: 100%;
      padding-right: 10px;
      padding-left:10px;
    }
    .container{
        @include flexCenter(column)
    }
    .bloqueTexto{
        @include flexCenter(column)
    }
    }