<app-header></app-header>
<div class="cuerpo">
  
    <div class="container">
    <div class="bloqueLogo">
        <div class="logo">
            <img src="../../../assets/img/logo.svg">            
        </div>
    </div>
    <div class="bloqueTexto">
        <div class="titulo">
            My Shoulder
        </div>
        <div class="text">
            Es una plataforma donde encontrar personas que realmente te<span class="naranjito"> entiendan... </span>   
        </div>
        <div class="boton">
            <button onclick= "location.href= 'http://localhost:4200/registro';" class="register">Regístrate</button>
            
        </div>
        <app-footer-animation></app-footer-animation>
        <app-login></app-login>
    </div>
</div>

</div>
