
    <div class = "Modal-Present" id="card-Present">
        <div *ngIf="modalAfir" >
            <app-modal-afir-presen></app-modal-afir-presen>
        </div>
        <div class = "contenedor-principal">
            <span onclick="document.getElementById('card-Present').style.display='none'" title="Close" class="closebutton">&times;</span> 
            <!-- a href="busqueda-profesional/#cerrar" -->
            <div class = "Titulo">  
                <span>Carta de presentación:</span>  
            </div>


            <div class = "textarea1">
                <textarea name="textarea" style="overflow:hidden; resize:none"> Describe brevemente tu situación al profesional para que pueda valorar tu caso...</textarea>
            </div>

            <div class="boton">



                <button class="enviar" (click)="modalAfir=!modalAfir" >Enviar</button>

            </div>
 
        </div>
    </div>