
    <div class = "Modal-Present">
        <div class = "contenedor-principal">
            <a href="#cerrar" title="Close" class="close">x</a> 

            <div class = "Titulo">  
                <span>Carta de presentación:</span>  
            </div>

            <div class = "textarea1">
                <textarea name="textarea" style="overflow:hidden; resize:none"> Describe brevemente tu situación al profesional para que pueda valorar tu caso...</textarea>
            </div>

            <div class="boton">
                <button class="enviar">Enviar</button>
            </div>
        </div>
    </div>