@import "../../styles/colors.scss";
@import "../../styles/functions.scss";


.contenedor-principal {
   position: absolute;
//    z-index: 3;
    z-index:29999;
    border: 2px solid rgba(255, 255, 255, 0.747);
    box-shadow: 3px 5px 19px 5px rgba(69,69,69,0.46);
    width: 92vh;
    height: 25vh;
    background: $degMor;
}

.Titulo {
    // padding-top: 3%;
    margin-left: 7%;
}

.textarea1 {
    margin-left: 4%;
    padding-top: 1%;
    padding: 3%;  
   
}


textarea {
    border-radius: 1%;
    color: $primaryText;
    font-weight: 400;
    text-align: left;
    width: 95%;
    height: 38%;
    border: none;
    padding: 1%;
}

.boton {
    // border:2px solid green;
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: left;
    margin-right: 10%;
    
}

.enviar {
    background: $secondaryColor;
    width: 20%;
    border: none;   
   
}

.closebutton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 21000;
    padding-right: 13px;
    font-size: 1.5em;
    color: #E8C597;       
    text-decoration: none;   
    transition-duration: 0.4s;
    cursor: pointer;
     
}
.closebutton:hover {
    
    color: white;
  }