<div class="headepac" *ngIf="tipo=='paciente'" >
    <app-header-pac></app-header-pac>
</div>
<div class="headerfam" *ngIf="tipo=='familiar'">
    <app-header-fam></app-header-fam>
</div>
    <div class = "contenedor-general">


        <div class = "contenedor-arriba">
            <div class = "contenedor-titulo">
                <h2 class = "titulo">Hola {{user.name}}!</h2>
            </div>

            <div class = "Edicion">
                <!-- <h3>Editar mi perfil</h3> -->
            </div>
        </div>


        <div class = "contenedor-abajo" >
            <!--  #perfilForm="ngForm" (ngSubmit)=modificar() -->
            <form class = "miformu1">
                <div class = contenedor-izquierda >
                        <img class = "ImagenPrincipal" src="{{user.img}}" > 

                        <!-- Nombre input -->
                        <div class="form-outline mb-4" for="form1Example1">
                            <label class="form-label" for="form1Example1" #form1Example1 >
                                <input type="text" id="form1Example1" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel">
                            </label>
                            
                            <!-- {{user.name}} -->
                        </div>
                        
                        <!-- Apellido input -->
                        <div class="form-outline mb-4" for="form1Example2" >
                            <label class="form-label" for="form1Example2" #form1Example2 >
                                <input type="text" id="form1Example2" class="form-control" name="sname" [(ngModel)]="user.sname" #sname="ngModel">
                            </label>
                            
                            <!-- {{user.sname}} -->
                        </div>
                    
                        <!-- Correo input -->
                        <div class="form-outline mb-4" for="form1Example2">
                            <label class="form-label" for="form1Example2" #form1Example2>
                                <input type="text" id="form1Example2" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" >
                            </label>
                            
                            <!-- {{user.email}} -->
                            
                        </div>
                </div>

                <div class = "contenedor-derecha">  
                    


                    <div class = "Input-Arriba">
                            <!-- Direccion input -->
                            <div class="form-outline1 mb-4" for="form1Example1">
                                <label class="form-label" for="form1Example1" #form1Example1 ></label>
                                <input type="text" id="form1Example1" class="form-control" name="direccion" [(ngModel)]="user.direccion" #direccion="ngModel">
                                <!-- {{user.direccion}} -->
                            </div>

                            <!-- Telefono input -->
                            <div class="form-outline2 mb-4" for="form1Example2">
                                <label class="form-label" for="form1Example2" #form1Example2 ></label>
                                <input type="number" id="form1Example2" class="form-control" name="telefono" [(ngModel)]="user.telefono" #telefono="ngModel" >
                                <!-- {{user.telefono}} -->
                            </div>
                    </div>
                
  

                    <div class = "textarea1">

                        <div *ngIf="afirEdPerfil">
                            <app-modal-afir-edicion></app-modal-afir-edicion>
                        </div>

                        <div class="bloqueTexto" for="form1Example2">
                        <textarea name="textarea" style="overflow:hidden; resize:none" #form1Example2 name="descripcion"[(ngModel)]="user.descripcion" #descripcion="ngModel" >
                            <!-- {{user.descripcion}} -->
                        </textarea>  
                        <div *ngIf="user">
                           
                          </div>

                    <button type="submit" class="submit" (click)="afirEdPerfil=!afirEdPerfil" (click)="modificar()">Guardar</button>

                    </div>
                </div>



                   
                </div>
            </form>
            <div class="imagen">
                <img src="../../../assets/img/bueno.svg" class="chica">
            </div>

        </div>
    </div>
<app-footer></app-footer>
