
<app-header-pac></app-header-pac>
    <div class = "contenedor-general">

        <div class = "contenedor-arriba">
            <div class = "contenedor-titulo">
                <h2 class = "titulo">Hola Claudia!</h2>
            </div>

            <div class = "Edicion">
                <!-- <h3>Editar mi perfil</h3> -->
            </div>
        </div>


        <div class = "contenedor-abajo">
            <form class = "miformu1">
                <div class = contenedor-izquierda>
                        <img class = "ImagenPrincipal" src="../../../assets/img/profilepicttest.png" #input1> 

                        <!-- Nombre input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form1Example1" class="form-control" placeholder="Claudia" #input2/>
                            <label class="form-label" for="form1Example1"></label>
                        </div>
                        
                        <!-- Apellido input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form1Example2" class="form-control" placeholder="Martin" #input3/>
                            <label class="form-label" for="form1Example2"></label>
                        </div>
                    
                        <!-- Correo input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form1Example2" class="form-control" placeholder="c.martin@gmail.com" #input4/>
                            <label class="form-label" for="form1Example2"></label>
                        </div>
                </div>

                <div class = "contenedor-derecha">   
                    <div class = "Input-Arriba">
                            <!-- Direccion input -->
                            <div class="form-outline1 mb-4">
                                <input type="text" id="form1Example1" class="form-control" placeholder="Calle Pez 25, Madrid" #input5/>
                                <label class="form-label" for="form1Example1"></label>
                            </div>

                            <!-- Telefono input -->
                            <div class="form-outline2 mb-4">
                                <input type="number" id="form1Example2" class="form-control" placeholder="625369985" #input6/>
                                <label class="form-label" for="form1Example2"></label>
                            </div>
                    </div>
                
                    <div class = "textarea1">
                        <div class="bloqueTexto">
                        <textarea name="textarea" style="overflow:hidden; resize:none" #input7>¡Hola! 
                    Mi nombre es Claudia y me gustaría poder compartir vivencias con personas que tengan algún allegado con depresión."</textarea>  
                    <button class="submit" on-click=modificar(input1,input2,input3,input4,input5,input6,input7)>Guardar</button>
                    </div>
                </div>
               
                   
                </div>
            </form>
            <div class="imagen">
                <img src="../../../assets/img/bueno.svg" class="chica">
            </div>

        </div>
    </div>
<app-footer></app-footer>
