<div class="cuerpo">
    <app-header-pac></app-header-pac>
    <div class="bloqueInfo">
    <div class="titulo">Eventos:</div>
    <div class="info">Apúntate a alguno de los eventos organizados por nuestros profesionales.</div>
    </div>
   
    <app-filtro></app-filtro>
   
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">


        <div class="carousel-inner">


            <!-- <div class="carousel-item active">
                <div class="particleCard">
                    <div class="show-eventos">
                      <div class="tarjeta2" *ngFor="let tarjeta of eventos; let i = index">

                          <app-tarjeta-eventos-cancelar [elementoPadre] = "tarjeta" ; let i = index></app-tarjeta-eventos-cancelar>
                       
                      </div>
                    </div>
                </div>
            </div> -->


            <div class="carousel-item active">
              <div class="particleCard">
                       <div class="show-eventos">
                         <div class="tarjeta2" *ngFor="for let tarjeta of eventos">
                           <app-tarjeta-eventos-cancelar ></app-tarjeta-eventos-cancelar>
                         </div>
                       </div>
                   </div>
               </div>

           <!-- <div class="carousel-item ">
           <div class="particleCard">
                    <div class="show-eventos">
                      <div class="tarjeta2" *ngFor="for let tarjeta of eventos">
                        <app-tarjeta-eventos-cancelar ></app-tarjeta-eventos-cancelar>
                      </div>
                    </div>
                </div>
            </div> -->


            <!-- <div class="carousel-item">
               <div class="particleCard">
                    <div class="show-eventos" *ngFor="for let tarjeta of eventos">
                      <div class="tarjeta2">
                        <app-tarjeta-eventos-cancelar ></app-tarjeta-eventos-cancelar>
                      </div>
                    </div>
                </div>
            </div> -->

            
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active primary"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
    </div>


</div>
<app-footer class="footer"></app-footer>
