<div class="cuerpo">
    <!-- <div [elementoPadre]="user" *ngIf="tipo == 'paciente'">
        <app-header-pac></app-header-pac>
    </div>
    <div [elementoPadre]="user" *ngIf="tipo == 'familiar'">
        <app-header-fam></app-header-fam>
    </div> -->
        <div class="headepac" *ngIf="tipo=='paciente'" >
    <app-header-pac></app-header-pac>
</div>
<div class="headerfam" *ngIf="tipo=='familiar'">
    <app-header-fam></app-header-fam>
</div>
<div class="headerpro" *ngIf="tipo=='profesional'">
    <app-header-pro></app-header-pro>
</div>
    

  <div class="bloqueInfo">
      <div class="titulo">Mis Eventos</div>
      <div class="info">Eventos a los que te encuentras apuntado organizados por nuestros profesionales.</div>
  </div>
  <div class="filtro">
    <div class="bloqueFiltro">
    <div class="filtro">
        <form #filtroForm="ngForm" (ngSubmit)="onSubmit5(filtroForm)" novalidate class="filtroForm">
        <div class="form-group">
            <div class="particulaFiltro">
            <div class="inputTitle">Localidad</div>
            <input type="text" name="localidad" class="input" ngModel #localidad="ngModel">
        </div>
    </div>
    <div class="form-group">
        <div class="particulaFiltro">
            <div class="inputTitle">Modalidad</div>
            <input type="text" name="modalidad" class="input" ngModel #modalidad="ngModel">
        </div>
    </div>   
        <div class="bloqueBoton">
            <button type="submit" class="filtrar">Filtrar</button>
            </div>
        </form>
    </div>
</div>

  <div class="carousel">
      <div class="navigator"  (click)="previous()">&#60;</div>
      <div class="data-row">
          <div class="data-list">
              <ng-container class="ngContainer" *ngFor="let evento of groupShown " ; let index=index; let last=last>
                  <div class="data-container">
                      <app-tarjeta-eventos-cancelar class="tarjeta" [elementoPadre]="evento" (eventoMisEventos) = "eliminarAsisEvento($event)"></app-tarjeta-eventos-cancelar>
                  </div>
              </ng-container>

          </div>
      </div>
      <div class="navigator" (click)="next()">
          &#62;</div>
  </div>

</div>


<app-footer class="footer"></app-footer>