<div class="cuerpo">
  <app-header-pac></app-header-pac>
  <div class="bloqueInfo">
      <div class="titulo">Mis Eventos:</div>
      <div class="info">Eventos a los que te encuentras apuntado organizados por nuestros profesionales.</div>
  </div>
  <app-filtro></app-filtro>

  <div class="carousel">
      <div class="navigator"  (click)="previous()">&#60;</div>
      <div class="data-row">
          <div class="data-list">
              <ng-container class="ngContainer" *ngFor="let evento of groupShown " ; let index=index; let last=last>
                  <div class="data-container">
                      <app-tarjeta-eventos-cancelar class="tarjeta" [elementoPadre]="evento" (eventoMisEventos) = "eliminarAsisEvento($event)"></app-tarjeta-eventos-cancelar>
                  </div>
              </ng-container>

          </div>
      </div>
      <div class="navigator" (click)="next()">
          &#62;</div>
  </div>

</div>


<app-footer class="footer"></app-footer>

