<div id="openModal" class="modalDialog">
                      
    <div class="bloqueForm">
        <span onclick="document.getElementById('openModal).style.display='none'"
        class="close">&times;</span>
     <div class="form">       
                  
         <h2 class="titulo">Eliminar paciente</h2>
         
         <div class="info">¿Estás seguro de que quieres eliminar a este paciente?</div>
         <div class="bloqueBotones">
            <a href="administracion-pacientes/#closeAfir" class="boton1">Si</a>
            <a href="administracion-pacientes/#closeAfir" class="boton2">No</a>
         </div>
         
     </div>
     
 </div>
</div>


