<div class="contenedorPadre">
    <div class="formulario">
    <form action="" id="miFormulario" class="miFormulario">
        <label for="textoRespuesta" class="label">
            Formulario respuesta negativa profesional
        </label>
        <textarea name="textoRespuesta" id="textoRespuesta" class="textoRespuesta" placeholder="Explicación..."></textarea>
        <label for="referencia" class="referencia">Referencia</label><br>
        <input type="text" id="referencia" placeholder="Referenciar a un profesional adecuado">
        </form>
        <div class="boton">
            <button type="button">Enviar</button>
        </div>
    </div>
</div>
