@import "../../styles/colors.scss";
@import "../../styles/functions.scss";


.contenedorPadre{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display:flex;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 40%;
    padding:2%;
    background: $degMor;
    border-radius: 7px;
    margin-left: 5px;
    margin-top: 5px;
    
}

.miFormulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
textarea{
    width: 100%; 
    width: 95%;
    height: 120px;
    border: 1px solid white;
    color:#6D6D6D;
    overflow: hidden;
    resize: none;
    padding: 5px;
    
}
button{
    width: 20%;
    padding: 1%;
    margin-top: 4%;
    border: 2px solid #E9C598;
    border-radius: 6%;
    background-color:$secondaryColor;
    color: white;
    font-weight: bold;
}
button:hover{
    color: $secondaryColor;
    background-color: white;
    border: 2px solid white;
}
.boton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 95%;
}
input{
    width: 95%;
    height: 35%;
    padding:1px;
    border: 1px solid white;
    color:#6D6D6D;
}
label{
    padding: 5px 0 ;
} 
// .label , .referencia{
//     font-weight: bold;
//     color:#6D6D6D;

// }