<app-header-pac></app-header-pac>

<div class="total">

    <div class="titulo">
        <h2>Informacion del evento</h2>
        <p>¡Aqui puedes informarte un poco más sobre este evento y confirmar tu participación</p>
    </div>


    <div class="container">
        <div class="cabecera">
            <h4>Taller de parentalidad creativa</h4>
        </div>
        <div class="principal">

            <div class="izq">
                <figure>
                    <img src="../../../assets/img/AdobeStock_339096035-1024x683 1.png">
                </figure>
                <!-- <p>on-line</p> -->
                <div class="bajo">
                    <div class="fecha">
                        <p>07/10/2022 - 19:00 h</p>
                    </div> 
                    <div class="botonPrincipal">
                        <button class="boton1" type="button">¡Apuntame!</button>
                    </div>
                </div>
            </div>

            <div class="drch">
                <div class="prof" style="position: relative; left: 0; top: 0;">
                    <div >
                        <p>Este taller lo imparte Rosa, una de nuestras psicologas cognitivo-conductuales</p>
                    </div>
                    <figure>
                        <img src="../../../assets/img/profileprofpic 1.png">
                    </figure>
                </div>
                <div class="descripcion">
                    <p>
                        Los padres cuentan con mucha información sobre cualquier tema relacionado con la crianza de los hijos pero se encuentran con dificultades a la hora de poner en práctica esos consejos. <br>
                        En ocasiones no saben qué hacer con tanta información y no saben cómo relacionarse con sus hijos. Poder trabajar en grupo estas y otras dificultades compartidas en relación a su rol de padre y madre les ayudará.
                    </p>
                </div>

            </div>

        </div>
    </div>

    <div class="divBoton">
        <button type="button" class="boton2">Volver a eventos</button>
    </div>

</div>


<app-footer></app-footer>