<app-header-pac></app-header-pac>

<div class="total">
  
    <div class="titulo">
        <h2>Informacion del evento</h2>
        <p>¡Aqui puedes informarte un poco más sobre este evento y confirmar tu participación</p>
    </div>


    <div class="container">
        <div class="cabecera">
            <h4>{{evento.titulo}}</h4>
        </div>
        <div class="principal">

            <div class="izq">
                <figure>
                    <img src="{{evento.img_even}}">
                </figure>
                <!-- <p>on-line</p> -->
                <div class="bajo">
                    <div class="fecha">
                        <p>{{evento.fecha}}</p>
                    </div> 
                    <div class="botonPrincipal">
                        <!-- (click)="apuntame(id_user,evento.id_eventos)" -->
                        <button class="boton1" (click)="modalIr=!modalIr" (click)="apuntame()" type="button" >¡Apuntame!</button>
                        <button (click)="modalNoIr=!modalNoIr" class="boton1"(click)="desapuntame()">No puedo ir</button>
                    </div>
                    
                </div>
                <div class="noIr" *ngIf="modalNoIr">
                    <app-modal-con-elim-even></app-modal-con-elim-even>
                </div>
                <div class="ir" *ngIf="modalIr">
                    <app-modal-afir-apun-even ></app-modal-afir-apun-even>
                </div>
            </div>

            <div class="drch">
                <div class="prof" >
                    <div >
                        <p>Este taller lo imparte {{evento.name}} {{evento.sname}}, una de nuestras psicologos especializados en terapias {{evento.terapia}}</p>
                    </div>
                    <figure>
                        <img src="{{evento.img}}">
                    </figure>
                </div>
                <div class="descripcion">
                    <p>
                        {{evento.descripcion_even}}
                    </p>
                </div>

            </div>

        </div>
        <div class="divBoton">
            <button type="button" class="boton2" routerLink="/mis-eventos-paciente">Ir a eventos</button>
        </div>
    </div>

    

</div>

<app-footer></app-footer>
