@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.contenedor{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
  
   
    .contContenido{
       
        width: 380px;
        height: 80px;
        display: flex;
        border-radius: 7px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        text-align: center;
        background: $degMor;
        margin-left:-40px;
        // margin-right: 0;
        z-index: -1;
        // margin-left: 5px;
    }.contTxt{
        text-align: center;
        width: 80%;
        margin-right: 20px;
        h3{
            margin: 13px;
            color:white;
            font-size: 18px;
            font-family: 'Montserrat';
        }
        p{
           
            color:$primaryText;
            font-size: 18px;
            line-height: 10px;
            font-family: 'Montserrat';
        }
    }
    figure img{
        
        position: sticky;
        width: 90px; //120px
        height: 90px;//120px
        border-radius: 150px;
        // display:flex;
         margin-left:-40px;
        z-index: 1;
      
    }


}
.contImg{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 16px;
}