@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.contenedor{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 100%;
    ;

    .contContenido{
        width: 15%;
        height: 120px;
        display: flex;
        border-radius: 7px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        text-align: center;
        background: $degMor;
        margin-left:-40px;
        margin-right: 0;
        z-index: -1;
        margin-left: 5px;
    }.contTxt{
        width: 90%;
        margin-right: 25px;
        h3{
            margin: 20px;
            color:white;
            font-size: 22px;
            font-family: 'Montserrat';
        }
        p{
           
            color:$primaryText;
            font-size: 22px;
            line-height: 20px;
            font-family: 'Montserrat';
        }
    }
    figure img{
        position: sticky;
        width: 150px;
        height: 150px;
        border-radius: 150px;
        // display:flex;
         margin-left:-60px;
        z-index: 1;
      
    }


}
