@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.contenedor{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    .contContenido{
        width: 350px;
        height: 120px;
        display: flex;
        border-radius: 7px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background: $degMor;
        z-index: -1;
    }
    h3{
        margin: 0;
        color:white;
        font-size: 28px;
        line-height: 34px;
        font-family: 'Montserrat';
    }
    p{
        margin: 0;
        color:$primaryText;
        font-size: 28px;
        line-height: 34px;
        font-family: 'Montserrat';
    }
    figure img{
        width: 150px;
        height: 150px;
        border-radius: 150px;
        display:flex;
        margin-left:-80px;
        z-index: 1;
      
    }


}