@import "../../styles/colors.scss";
@import "../../styles/functions.scss";



.contenedorPadre{
    // border: 6px solid orange;
    box-sizing: border-box;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
   
   
}


.tituloPagina {
    width: 100%;
}

h2 {
    // @include titulo();
    margin-left: 2%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    background: linear-gradient(270.18deg, #9C9DBF 59.65%, #E8C597 99.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}
h4{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 25px;
    line-height: 50px;
}
.tituloEventos{
    padding-left: 42px;
    color:$primaryText
}
.cont {
    width: 95%;
    height: 82%;
    display: flex;
     flex-direction: row;
    align-items: center;
    align-content: center;
    // margin: auto ;
    // border: 6px solid green;
     z-index: 30000;
    margin-left: 2%;
    margin-right: 2%;


   
    
}

.contenedorIzq {
    // border: 6px solid red;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    // margin-top: 5%;
    z-index: 30000;
}
.novedades{
    color:$primaryText;
}

.contenedorDcha {
    // border: 6px solid blue;
    width: 100%;
    height: 100%;
    z-index: 30000;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
    flex-direction: column;
    margin-right: 2%;;
    
}


.separador{
    height: 10%;
}
.tituloProf{
    margin-bottom: 0%;
    color:$primaryText 
}
.mostrarProfesional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 110px;
    
}
.tituloProf{
    padding-right:20px;
}
.imagen{
    height: 27%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-left: 250px;

}
.footer{
    z-index: -1;
}
.naranjito{
    color:#E8C597 ;
}
.funcionalidad{
    z-index:99999;
}
.grafico{
    height: 200px;
    
}

@media screen and (min-width:480px) and (max-width:900px){
    .header{
        display:none;
    }
    .contenedorPadre{
        width: 100vw;
       height: 100vh;
       transition:all 0.1s ease-out;

    }
    .footer{
        display: flex;
        position: absolute;
        padding-bottom: 0;


    }
    .imagen{
        display:none;
    }
    .cont {
        flex-basis: 95%;
        height: 82%;
        display: flex;
         flex-direction: column;
        align-items: center;
        align-content: center;
        margin: auto ;
        // border: 6px solid green;
         z-index: 30000;
         transition:all 0.1s ease-out;
    
    }
    .contenedorIzq{
        display: flex;
        flex-direction: column;
        flex-basis:50%;
        margin-bottom: 100px;
        transition:all 0.1s ease-out;
        
    }

    .contenedorDcha{
        display: flex;
        flex-direction: column;
        flex-basis:50%;
        transition:all 0.1s ease-out;

    }
   
}
