<div class="contenedorPadre">
    <div class="header">
        <app-header-fam></app-header-fam>
    </div>
    <div class="tituloPagina">
        <h2 class="tituloh2Pagina">Hola Claudia!</h2>
    </div>
    <div class="cont">
        <div class="contenedorIzq">
            <div class="textos">
                <h4 class="novedades">Novedades</h4>
                <p class="textoInfo"> Rosa te ha enviado un mensaje</p>
                <p class="textoInfo"> Miguel te ha enviado un mensaje</p>
                <p class="textoInfo"> Te has apuntado a un <span
                        onclick="location.href= 'http://localhost:4200/tarjeta-evento';" class="naranjito">Evento</span>
                </p>
            </div>
            <div class="componenteEstadoAnimo">
                <app-estado-animo></app-estado-animo>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/fotoPrincipal.png" alt="">
            </div>
        </div>
        <div class="contenedorDcha">

            <div class="mostrarEvento">
                <h4 class="tituloEventos">Próximos eventos</h4>
                <div class="eventoInd">
                    <app-mostrar-evento onclick="location.href= 'http://localhost:4200/tarjeta-evento';">
                    </app-mostrar-evento>
                </div>
            </div>
            <div class="mostrarProp">
                <app-mostrar-anfitrion onclick="location.href= 'http://localhost:4200/creacion-evento';">
                </app-mostrar-anfitrion>
            </div>
            <div class="separador"></div>


            <div class="mostrarProfesional">
                <h4 class="tituloProf">Mis profesionales</h4>

                <div class="eventoProf">
                    <app-mostrar-prof></app-mostrar-prof>
                </div>
                <div class="eventoProf">
                    <app-mostrar-prof></app-mostrar-prof>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>