<p></p>
<div class = "ficha-1">

    <div class = "contenedor-izquierda-ficha">

        <div class = "contenedor-titulo-ficha1">
            <h6 class = "titulo-prof-ficha1">Marisa</h6>
        </div> 

        <img class = "ImagenPrincipal" src="../../../assets/img/chica.png"> 
    </div>
    
    <div class = "contenedor-derecha-ficha">
        <div class = "Input-Arriba">
        
            <div class="form-outline1 mb-4">
                <p id="form1Example1" class="form-control1"></p> 

            </div>
        </div>
              
        <div class = "Input-Abajo">

            <div class = "Abajo-Izq">
                <div class = "textarea1">
                    <p class ="textarea"></p>
                </div>
            </div>

            <div class = "Abajo-Der">
                <div class="boton2">
                    <button class="contacta">Contacta</button>
                </div>
            </div>
        </div>
    </div>

</div>
