@import "../../styles/colors.scss";
@import "../../styles/functions.scss";



.contenedor-titulo-ficha1 {
    padding-top: 1.5%;
    margin-left: -65%;
}

.ficha-1 {
    // border: 2px solid red;   
    width: 75%;
    height: 15%;
    background: $degMor;
    padding:  7px 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.ImagenPrincipal {
    width: 100px;
    height: 100px;
}


.contenedor-izquierda-ficha {
    // border: 2px solid green;
    width: 25%;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.contenedor-derecha-ficha {
    // border: 2px solid blue;
    width: 75%;
    padding-top: 1%;
    padding-left: 5%;;
}


.Input-Arriba {
    width: 100%;
    height: 15px;
    padding-bottom: 45px;
}

.form-control1 {
    width: 90%;
    height: 5vh;
}


.Input-Abajo {
    // border: 2px solid orange;
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 90%;  
}



textarea {
    width: 19vw;
    height: 11vh; 
}



.Abajo-Der {
    // border: 2px solid red;
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-end;
    align-content: flex-end;  

    margin-bottom: 1%;
}

.boton2 {
    // border: 2px solid blue;     
   
    width: 110px;
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}


.contacta {
    font-weight: 700;
    border: none;
    padding: 4%;
    
}

.titulo-prof-ficha1 {
    padding-top: 1%;
    font-weight: 700;
    color: $primaryText;
}
@media screen and (min-width:380px) and (max-width:768px){
    img{
        display: none;
    }
    .ficha-1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .boton2{
        display: flex;
        align-content: center;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 60px;
    }
    .Input-Abajo , .Input-Abajo {
        width: 100%;

    }

}