
<div class = "ficha-1" >

    <div *ngIf="contacta">
        <app-modal-presentacion [tarjetaIdPro]="tarjetaPadrePro.id_user"></app-modal-presentacion>
    </div>
    <div class = "contenedor-izquierda-ficha">

        <div class = "contenedor-titulo-ficha1">
            <div class = "titulo-prof-ficha1">{{tarjetaPadrePro.name}}</div>
        </div> 

        <img class = "ImagenPrincipal" src="{{tarjetaPadrePro.img}}"> 
    </div>
    
    <div class = "contenedor-derecha-ficha">
        <div class = "Input-Arriba">
        
            <div class="form-outline1 mb-4">
                <p id="form1Example1" class="form-control1">{{tarjetaPadrePro.direccion}}</p> 

            </div>
        </div>
              
        <div class = "Input-Abajo">

            <div class = "Abajo-Izq">
                <div class = "textarea1">
                    <p class ="textarea">{{tarjetaPadrePro.descripcion}}</p>
                </div>
            </div>

            <div class = "Abajo-Der">
                <div class="boton2">
                    <button class="contacta" (click)="contacta=!contacta">Contacta</button>
                </div>
            </div>
        </div>
    </div>

</div>
