@import "../../styles/colors.scss";
@import "../../styles/functions.scss";



.contenedor-titulo-ficha1 {
    // border: 2px solid magenta;
    // padding-top: 1%;
    width: 90%;
    text-align: center;
    
    
}

.ficha-1 {
    // border: 2px solid red; 
    width: 75%;
    height: 27vh;
    background: $degMor;
    padding:  10px 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -5%;
    margin-top: 25px;
    margin-bottom: 25px;
}


.ImagenPrincipal {
    width: 130px;
    height: 130px;
    
}


.contenedor-izquierda-ficha {
    // border: 2px solid green;
    width: 25%;
    height: 200px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contenedor-derecha-ficha {
    // border: 2px solid blue;
    width: 75%;
    padding-top: 1%;
    padding-left: 1%;
}


.Input-Arriba {
    width: 70vh;
    height: 15px;
    padding-bottom: 45px;
    padding-top: 5px;
}

.form-outline1 {
    width: 90%;
    height: 30px;
    background-color: white;
}



.form-control1 {
    display:flex;
    align-items: center;
    padding-left: 5px;
    width: 90%;
    height: 100%;
}


.Input-Abajo {
    // border: 2px solid orange;
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 93%;  
}


.textarea1 {
    width: 100%;
    height: 92%;
    background-color: white;
}

.textarea {
    padding-left: 5px;
    width: 24vw;
    height: 13vh; 
}



.Abajo-Der {
    // border: 2px solid red;
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-end;
    align-content: flex-end;  
    margin-bottom: 1%;
}


.boton2 {
  
    width: 118px;
    height: 125px;
    display:flex;    
    justify-content: flex-end;
    align-items: flex-end;
   
}


.contacta {
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    background-color: white;
    color: $primaryColor ;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.contacta:hover {
    background-color: $primaryColor ;
    color: white;
}


.titulo-prof-ficha1 {
    padding-bottom: 15px;
    font-size: 1.3em;
    color: white;
   
}
@media screen and (min-width:380px) and (max-width:768px){
    img{
        display: none;
    }
    .ficha-1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .boton2{
        display: flex;
        align-content: center;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 60px;
    }
    .Input-Abajo , .Input-Abajo {
        width: 100%;

    }

}