
<div class = "ficha-1" >

    <div *ngIf="contacta">
        <app-modal-presentacion></app-modal-presentacion>
    </div>
    <div class = "contenedor-izquierda-ficha">

        <div class = "contenedor-titulo-ficha1">
            <div class = "titulo-prof-ficha1">Marisa</div>
        </div> 

        <img class = "ImagenPrincipal" src="../../../assets/img/chica.png"> 
    </div>
    
    <div class = "contenedor-derecha-ficha">
        <div class = "Input-Arriba">
        
            <div class="form-outline1 mb-4">
                <p id="form1Example1" class="form-control1">Consultoría Marisa : c/La Cornisa nº 4</p> 

            </div>
        </div>
              
        <div class = "Input-Abajo">

            <div class = "Abajo-Izq">
                <div class = "textarea1">
                    <p class ="textarea">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, quaerat amet consectetur neque iusto vitae harum corporis suscipit asperiores eum rerum soluta architecto. Cupiditate quod quaerat eveniet enim, blanditiis sint?</p>
                </div>
            </div>

            <div class = "Abajo-Der">
                <div class="boton2">
                    <button class="contacta" (click)="contacta=!contacta">Contacta</button>
                </div>
            </div>
        </div>
    </div>

</div>
