@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.contenedor{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 100%;
    .contContenido{
        width: 380px;
        height: 90px;
        display: flex;
        border-radius: 7px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        background: $degMor;
        z-index: -1;
        margin: 5px;
        
    }.contenedorTxt{
        text-align: center;
        margin-right: 20px;
        width: 80%;
       
    h3{
       
        color:white;
        font-size: 22px;
        line-height: 20px;
        font-family: 'Montserrat';
    }
    p{
        margin: 0;
        color:$primaryText;
        font-size: 22px;
       
        font-family: 'Montserrat';
    }
}
    figure img{
        position: sticky;
        width: 120px;
        height: 120px;
        border-radius: 150px;
        // display:flex;
        margin-left:-40px;
        z-index:1;
      
    }


}
