<div class="bloqueFiltro">
    <div class="filtro">
        <form class="filtroForm">
            <div class="particulaFiltro">
            <div class="inputTitle">Localidad</div>
            <input type="text" class="input">
        </div>
        <div class="particulaFiltro">
            <div class="inputTitle">Modalidad</div>
            <input type="text" class="input">
        </div>
        <div class="particulaFiltro">
            <div class="inputTitle">Terapia</div>
            <input type="text" class="input">
        </div>
        <div class="particulaFiltro">
            <div class="inputTitle">Fecha</div>
            <input type="text" class="input">
        </div>
        <div class="bloqueBoton">
            <button class="filtrar">Filtrar</button>
            </div>
        </form>
    </div>
</div>