<app-header-pro></app-header-pro>


<div class="general">

    <h4>GESTIÓN DE EVENTO</h4>

    <div class="container">
    
    
        <div class="principal">
            <div class="izq">
                <input type="text" placeholder="Insertar url de imagen" #url>

                <div class="datos">
                    <label> DATOS DE IMPORTANCIA </label>
                    <input type="text" placeholder="MODALIDAD:" #modalidad>
                    <input type="text" placeholder="LOCALIDAD:" #localidad>
                    <input type="text" placeholder="DIRECCION:" #direccion>
                    <input type="text" placeholder="TERAPIA:"  #terapia>
                    <input type="text" placeholder="FECHA:"    #fecha>
                </div>
    
            </div>
            <div class="drch">
                <input type="text" placeholder="Escribe un titulo para tu actividad" #titulo>
                <textarea style="overflow:hidden; resize:none" placeholder="Inserta una descripcion del evento AQUI: " #descripcion></textarea>
            </div>
        </div>
    
        <div class="boton">
            <button type="button" (click)=anadirEvento(titulo.value,localidad.value,direccion.value,descripcion.value,modalidad.value,terapia.value,fecha.value,url.value) class="botonn" routerLink="/administrar-eventos-pro"> Publicar evento </button>
        </div>
    
    </div>
</div>


<app-footer></app-footer>
