<div class = "contenedor-general">

    <div class = "contenedor-izquierdo">

        <div class = "contenedor-titulo-izq">
            <h1 class = "titulo-izq">Hola Claudia!</h1>
        </div>

        <div class = "contenedor-bussqueda">

            <div class = "contenedor-titulo-izq">
                <h3 class = "titulo-filtro">Filtros:</h3>
            </div>

            <form class = "miformu1">
                <div class="row mb-0">
                    <label for="inputLocalidad" class="col-sm-2 col-form-label">Localidad</label>
                    
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputLocalidad">
                    </div>
                </div>

                <div class="row mb-0">
                    <label for="inputModalidad" class="col-sm-2 col-form-label">Modalidad</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputModalidad">
                    </div>
                </div>

                <div class="row mb-0">
                    <label for="inputTerapia" class="col-sm-2 col-form-label">Terapia</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputTerapia">
                    </div>
                </div>
     
                <div class="row mb-0">
                    <label for="inputFecha" class="col-sm-2 col-form-label">Fecha</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputFecha">
                    </div>
                </div>

                <div class="boton">
                    <button class="filtrar">Filtrar</button>
                </div>

              </form>
      
        </div>
    

        <div class = "contenedor-img-footer">
            <img class = "ImagenProf" src="../../../assets/img/profesional.png"> 
        </div>


    </div>


    <div class = "contenedor-derecho">

            <div class = "contenedor-titulo-der">
                <h1 class = "titulo-der">Profesionales</h1>
            </div>

            <div class = "contenedor-titulo-ficha1">
                <h6 class = "titulo-prof-ficha1">Marisa</h6>
            </div>  

            <div class = "ficha-1">
                <div class = "contenedor-izquierda-ficha">
                    <img class = "ImagenPrincipal" src="../../../assets/img/chica.png"> 
                </div>

                <div class = "contenedor-derecha-ficha">
                    <div class = "Input-Arriba">
                    
                        <div class="form-outline1 mb-4">
                            <input type="text" id="form1Example1" class="form-control1"/>
                            <label class="form-label" for="form1Example1"></label>
                        </div>
                    </div>
                          
                    <div class = "Input-Abajo">

                        <div class = "Abajo-Izq">
                            <div class = "textarea1">
                                <textarea name="textarea" style="overflow:hidden; resize:none"></textarea>
                            </div>
                        </div>

                        <div class = "Abajo-Der">
                            <div class="boton2">
                                <button class="contacta">Contacta</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>



            <div class = "contenedor-titulo-ficha1">
                <h6 class = "titulo-prof-ficha1">Luís</h6>
            </div>  

            <div class = "ficha-1">
                <div class = "contenedor-izquierda-ficha">
                    <img class = "ImagenPrincipal" src="../../../assets/img/chico.png"> 
                </div>


                <div class = "contenedor-derecha-ficha">
                    <div class = "Input-Arriba">
                    
                        <div class="form-outline1 mb-4">
                            <input type="text" id="form1Example1" class="form-control1"/>
                            <label class="form-label" for="form1Example1"></label>
                        </div>
                    </div>
                          
                    <div class = "Input-Abajo">

                        <div class = "Abajo-Izq">
                            <div class = "textarea1">
                                <textarea name="textarea" style="overflow:hidden; resize:none"></textarea>
                            </div>
                        </div>

                        <div class = "Abajo-Der">
                            <div class="boton2">
                                <button class="contacta">Contacta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class = "contenedor-titulo-ficha1">
                <h6 class = "titulo-prof-ficha1">Antonio</h6>
            </div>  

            <div class = "ficha-1">
                <div class = "contenedor-izquierda-ficha">
                    <img class = "ImagenPrincipal" src="../../../assets/img/chico.png"> 
                </div>


                <div class = "contenedor-derecha-ficha">
                    <div class = "Input-Arriba">
                    
                        <div class="form-outline1 mb-4">
                            <input type="text" id="form1Example1" class="form-control1"/>
                            <label class="form-label" for="form1Example1"></label>
                        </div>
                    </div>
                          
                    <div class = "Input-Abajo">

                        <div class = "Abajo-Izq">
                            <div class = "textarea1">
                                <textarea name="textarea" style="overflow:hidden; resize:none"></textarea>
                            </div>
                        </div>

                        <div class = "Abajo-Der">
                            <div class="boton2">
                                <button class="contacta">Contacta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





    </div>

</div>