<div class="cuerpo">
    <div class="headepac" *ngIf="tipo=='paciente'" >
    <app-header-pac></app-header-pac>
</div>
<div class="headerfam" *ngIf="tipo=='familiar'">
    <app-header-fam></app-header-fam>
</div>
<div class="contenedor-general">

    <div class="contenedor-izquierdo">

        <div class="contenedor-titulo-izq">
            <h1 class="titulo-izq">Hola Claudia!</h1>
        </div>

        <div class="contenedor-bussqueda">

            <div class="contenedor-titulo-izq">
                <h5 class="titulo-filtro">Filtros:</h5>
            </div>

            <div class="bloqueFiltro">
                <div class="filtro">
                    <form #filtroForm="ngForm" (ngSubmit)="onSubmit3(filtroForm)" novalidate class="filtroForm">
                    
                <div class="form-group">
                    <div class="particulaFiltro">
                        <div class="inputTitle">Modalidad</div>
                        <input type="text" name="modalidad" class="input" ngModel #modalidad="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <div class="particulaFiltro">
                        <div class="inputTitle">Terapia</div>
                        <input type="text" name="terapia" class="input" ngModel #terapia="ngModel">
                    </div>
                </div>
                
                    <div class="bloqueBoton">
                        <button type="submit" class="filtrar">Filtrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="contenedor-img-footer">
            <img class="ImagenProf" src="../../../assets/img/profesional.png">
        </div>


    </div>


    <div class="contenedor-derecho">

        <div class="contenedor-titulo-der">
            <h1 class="titulo-der">Profesionales</h1>
        </div>

        <div class="bloque-car">

            <div class="carousel">
                <div class="navigator" (click)="previous()">&#60;</div>
                <div class="data-row">
                    <div class="data-list">
                        <ng-container class="ngContainer" *ngFor="let profesional of groupShown " ; let index=index; let
                            last=last>
                            <div class="data-container">
                                <app-tarjeta-profesional class="tarjeta" [tarjetaPadrePro]="profesional">
                                </app-tarjeta-profesional>

                            </div>
                        </ng-container>

                    </div>
                </div>
                <div class="navigator" (click)="next()">
                    &#62;</div>
            </div>


        </div>

    </div>

</div>
<div class="footer">
    <app-footer></app-footer>
</div>