@import "../../styles/colors.scss";
@import "../../styles/functions.scss";


.contenedor-general {
   
    margin-top:45px;
    width: 100vw;
    height: 80vh;

    display:flex;
    flex-direction: row;
    z-index: 30000;
    position: absolute;

}

.contenedor-titulo-izq {
    // border: 2px solid black;    
    width: 25vw;
}


.titulo-izq {
    // border: 2px solid orange;
    margin-left: 10%; 
    width: 50%;
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 700;
    font-size: 2.0em;
    line-height: 2em;
    background: -webkit-linear-gradient(180deg,#E8C597, #9C9DBF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.contenedor-titulo-der {
    // border: 2px solid black;    
    width: 60vw;
}

.titulo-der {
    // border: 2px solid orange;
    
    margin-left: 5%; 
    width: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 2em;
    background: -webkit-linear-gradient(180deg,#E8C597, #9C9DBF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

.contenedor-izquierdo {
    // border: 2px solid black;
    width: 75vw;
}


.contenedor-bussqueda {
    // border: 2px solid green;
    width: 75%;
    height: 40%;
    padding-left: 10%;
    padding-top: 3%;
}


.col-sm-2 {
    font-weight: 300;
    font-size: medium;
    color: $primaryText;
}


.contenedor-img-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    width: 85%;
    height: 55%;
}


.titulo-filtro {
    font-weight: 700;
    color: $primaryText;
}

.form-control {
    margin-left: 20%;
    padding-top: 1%;
    background-color: #EFEFEF;
    border-radius: 0%;
    border: none;
}

.miformu1 {
    width: 88%;

}

.boton {
    // border: 2px solid red;
    height: 90px;
    width: 24%;
    margin-left: 38%;
    padding-top: 1%;
    
}


.filtro{
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
}


.filtrar {

    margin-top: 10px;
    border: 2px solid $primaryColor;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    background-color: white;
    color: $primaryColor ;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.filtrar:hover {
    background-color: $primaryColor ;
    color: white;
}


.contenedor-img-footer {
    padding-top: 6.5%;
}


.ImagenProf {
    width: 80%;
    height:100%;
}


.cartaPaciente{
    // border: 2px solid green;
    width: 60vw;
    margin-left: -15%;
    margin-right: -15%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.particleCard {
  @include flexCenter(column);
    padding-left: 50px;
    padding-right: 50px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;     
  background-size: 100%, 100%;       
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #7485be;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #7485be;
}


@media (max-width: 1200px) {
    .contenedor-general{
        width: 100vw;
        display: flex;
        flex-direction: row;
    }
    .particleCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
             
      
    }
    .tarjeta{
        margin-bottom: 25px;  
    }



textarea {
    width: 20.5vw;
    height: 11vh;
    // margin-right: 3vh;
}



.Abajo-Der {
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-end;
    align-content: flex-end;  
}

.boton2 {
   
    width: 7.5vw;
    

  .carousel-indicators{
    display:none;
  }
  
  .footer{
    display:none;
  }
  
  }
  @media screen and (min-width:380px) and (max-width:768px){
    .header{
        display:none;
    }
    // .contenedor-genera{
    //     width: 100vw;
    //    height: 100vh;
    //    transition:all 0.1s ease-out;

    // }
    .footer{
        display:none


    }
    img{
        display:none;
    }
    .contenedor-general {
        flex-basis: 95%;
        height: 82%;
        display: flex;
         flex-direction: column;
        align-items: center;
        align-content: center;
        margin: auto ;
        // border: 6px solid green;
         z-index: 30000;
         transition:all 0.1s ease-out;
    
    }
    .contenedor-izquierdo{
        display: flex;
        flex-direction: column;
        flex-basis:100vh;
        // margin-bottom: 100px;
        transition:all 0.1s ease-out;
        
    }

    .contenedor-derecho{
        display: flex;
        flex-direction: column;
        flex-basis:100vh;
        transition:all 0.1s ease-out;
    }
   .cartaPaciente{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 3px;
    
   }

   .contenedor-titulo-izq , .contenedor-titulo-der{
    width: 100%;
   }
   .titulo-der{
    width: 100%;
   }
   .miformu1{
    width: 100%;
   }
}
}