<app-header-pac></app-header-pac>

<div class = "contenedor-general">

    <div class = "contenedor-izquierdo">

        <div class = "contenedor-titulo-izq">
            <h1 class = "titulo-izq">Hola Claudia!</h1>
        </div>

        <div class = "contenedor-bussqueda">

            <div class = "contenedor-titulo-izq">
                <h3 class = "titulo-filtro">Filtros:</h3>
            </div>

            <form class = "miformu1">
                <div class="row mb-0">
                    <label for="inputLocalidad" class="col-sm-2 col-form-label">Localidad</label>
                    
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputLocalidad">
                    </div>
                </div>

                <div class="row mb-0">
                    <label for="inputModalidad" class="col-sm-2 col-form-label">Modalidad</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputModalidad">
                    </div>
                </div>

                <div class="row mb-0">
                    <label for="inputTerapia" class="col-sm-2 col-form-label">Terapia</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputTerapia">
                    </div>
                </div>
     
                <div class="row mb-0">
                    <label for="inputFecha" class="col-sm-2 col-form-label">Fecha</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputFecha">
                    </div>
                </div>

                <div class="boton">
                    <button class="filtrar">Filtrar</button>
                </div>

              </form>
        </div>
    

        <div class = "contenedor-img-footer">
            <img class = "ImagenProf" src="../../../assets/img/profesional.png"> 
        </div>


    </div>


    <div class = "contenedor-derecho">

            <div class = "contenedor-titulo-der">
                <h1 class = "titulo-der">Profesionales</h1>
            </div>

            <div class = "bloque-car">

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">


                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="particleCard">
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="particleCard">
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="particleCard">
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                                <app-tarjeta-profesional class="cartaPaciente"></app-tarjeta-profesional>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active primary"
                            aria-current="true" aria-label="Slide 1"></button>

                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>

                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>

                </div>

            </div>

    </div>

</div>

<app-footer></app-footer>