*{
<<<<<<< HEAD
    padding:0;
    margin:0;
    font-family: 'montserrat';
}

=======
    padding: 0;
    margin: 0;
    font-family: 'montserrat';
    }
>>>>>>> 46fe60c61649e17cc21fa45c41f13bda41452d1b
