
<div class="header">
    <div class="img">
    <img src="../../../assets/img/logo.svg" />
    </div>
    <div class="bloque-enlace">
        <ul id="nav">
            <li routerLinkActive="activa" routerLink="/landing-familiar"><a>Home</a></li>
            <li routerLinkActive="activa" routerLink= '/busqueda-profesional'><a>Profesionales</a></li>
            <li routerLinkActive="activa" routerLink= "/busqueda-evento"><a>Eventos</a>
                <ul>
                    <li routerLink='/mis-eventos-paciente'><a>Mis Eventos</a></li>
                    <li routerLink='/admin-eventos-fam-anfi'><a>Administrar Eventos</a></li>
                </ul>
            </li>
            <li routerLinkActive="activa" [routerLinkActiveOptions]="{exact : true}"><a>Perfil</a>
                <ul>                
                    <li routerLink="/edicion-perfil"><a>Modificar</a></li>
                    <li routerLink="/"><a>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
        <!-- onclick="goEditarPaciente() -->
